In [1]:
import pandas as pd

# Comparacion de datos 36-0-6

## Datos LSTM Model 5570 36-0-6

In [2]:
#OK
singleModel5570Acc = pd.DataFrame({})
singleModel5570Mse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneAcc = pd.read_csv('transformed_data/model5570-36-0-6-acc_LSTM_'+str(index).zfill(1) +'.csv')
    singleModel5570OneMse = pd.read_csv('transformed_data/model5570-36-0-6-mse_LSTM_'+str(index).zfill(1) +'.csv')
    singleModel5570Acc = singleModel5570Acc.append(singleModel5570OneAcc)
    singleModel5570Mse = singleModel5570Mse.append(singleModel5570OneMse)

singleModel5570Mse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.040609  0.087955
1           1      10     64     16      2          0.002  0.042848  0.091047
2           2      10     64     16      4          0.002  0.042704  0.090752
3           3      10     64     16      8          0.002  0.029941  0.149383
4           4      10     64     32      1          0.002  0.041591  0.089883

In [3]:
singleModel5570Acc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.007093,0.062142
1,1,10,64,16,2,0.0020,0.007407,0.062489
2,2,10,64,16,4,0.0020,0.007378,0.062142
3,3,10,64,16,8,0.0020,0.018460,0.112343
4,4,10,64,32,1,0.0020,0.007251,0.062096
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.006387,0.058457
176,176,100,256,64,1,0.0005,0.007085,0.062816
177,177,100,256,64,2,0.0005,0.006574,0.059060
178,178,100,256,64,4,0.0005,0.006042,0.056271
179,179,100,256,64,8,0.0005,0.005566,0.052528

In [4]:
singleModel5570Mse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [5]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570Acc = singleModel5570Acc[features_acc]

In [6]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570Mse = singleModel5570Mse[features_mse]

In [7]:
singleModel5570Mse.to_csv('transformed_data/memory_data/model5570-36-0-6-rmse_LSTM.csv', encoding='utf-8')

In [8]:
idxMse = pd.MultiIndex.from_frame (singleModel5570Mse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570Acc)

In [9]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0406085662543773, 0.0879552438855171),
            ( 10,  64, 16, 2,  0.002, 0.0428478568792343, 0.0910468697547912),
            ( 10,  64, 16, 4,  0.002, 0.0427040942013263, 0.0907516703009605),
            ( 10,  64, 16, 8,  0.002, 0.0299414675682783, 0.1493833065032959),
            ( 10,  64, 32, 1,  0.002, 0.0415911935269832, 0.0898828655481338),
            ( 10,  64, 32, 2,  0.002, 0.0424897260963916, 0.0855366066098213),
            ( 10,  64, 32, 4,  0.002,  0.041733331978321, 0.0875761806964874),
            ( 10,  64, 32, 8,  0.002, 0.0418288074433803, 0.0934102311730384),
            ( 10,  64, 64, 1,  0.002,  0.042138110846281, 0.0881119593977928),
            ( 10,  64, 64, 2,  0.002, 0.0435047298669815, 0.0877312049269676),
            ...
            (100, 256, 16, 4, 0.0005,   0.04191330447793, 0.0909373834729194),
            (100, 256, 16, 8, 0.0005,  0.039318524301052, 0.1043880209326744),
            (100, 256, 32, 1, 0.0005, 0.0409507602453231, 0.0937797948718071),
            (100, 256, 32, 2, 0.0005, 0.0425400249660015, 0.0867922976613044),
            (100, 256, 32, 4, 0.0005, 0.0425888448953628, 0.0870097652077674),
            (100, 256, 32, 8, 0.0005, 0.0408326499164104, 0.0920558646321296),
            (100, 256, 64, 1, 0.0005, 0.0420767329633235, 0.0886269435286521),
            (100, 256, 64, 2, 0.0005, 0.0424614287912845, 0.0862491205334663),
            (100, 256, 64, 4, 0.0005, 0.0435624867677688, 0.0853521153330802),
            (100, 256, 64, 8, 0.0005, 0.0420268401503562, 0.0892605558037757)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [10]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0378190279006958, 0.1020855084061622)

In [17]:
singleModel5570Mse[singleModel5570Mse['rmse'] < 0.0812]

     epochs  batch  nodos  layer  learning rate       mse      rmse
43       25     64     32      8         0.0020  0.044138  0.081200
47       25     64     64      8         0.0020  0.042712  0.078350
113      75     64     32      2         0.0020  0.043078  0.080839
135      75    256     16      8         0.0020  0.043152  0.080861
144     100     64     16      1         0.0020  0.044158  0.080719
146     100     64     16      4         0.0020  0.044478  0.079955
152     100     64     64      1         0.0020  0.042826  0.081045
149     100     64     32      2         0.0005  0.043947  0.081088

In [18]:
tabla1 = singleModel5570Mse[singleModel5570Mse['rmse'] < 0.0812]

In [19]:
tabla1.to_excel("transformed_data/tablas/model5570-36-0-6-rmse_LSTM_min.xlsx")

In [20]:
singleModel5570Mse[singleModel5570Mse['rmse'] < 0.081]

     epochs  batch  nodos  layer  learning rate       mse      rmse
47       25     64     64      8          0.002  0.042712  0.078350
113      75     64     32      2          0.002  0.043078  0.080839
135      75    256     16      8          0.002  0.043152  0.080861
144     100     64     16      1          0.002  0.044158  0.080719
146     100     64     16      4          0.002  0.044478  0.079955

In [21]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0430426187813282, 0.0929096490144729)

In [26]:
singleModel5570Mse[singleModel5570Mse['rmse'] > 0.157]

    epochs  batch  nodos  layer  learning rate       mse      rmse
15      10    128     16      8         0.0020  0.025690  0.160277
15      10    128     16      8         0.0010  0.025712  0.159972
24      10    256     16      1         0.0005  0.025924  0.166605
25      10    256     16      2         0.0005  0.025867  0.161106
26      10    256     16      4         0.0005  0.025788  0.158255
27      10    256     16      8         0.0005  0.025856  0.159265
31      10    256     32      8         0.0005  0.026986  0.157128

In [27]:
tabla2 = singleModel5570Mse[singleModel5570Mse['rmse'] > 0.157]

In [28]:
tabla2.to_excel("transformed_data/tablas/model5570-36-0-6-rmse_LSTM_max.xlsx")

In [29]:
singleModel5570Mse['rmse'].mean()

0.09496586551820785

## Datos LSTM Model 5570 - GRU 36-0-6

In [30]:
#OK
singleModel5570AccGRU = pd.DataFrame({})
singleModel5570MseGRU = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneAccGRU = pd.read_csv('transformed_data/model5570-36-0-6-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570OneMseGRU = pd.read_csv('transformed_data/model5570-36-0-6-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570AccGRU = singleModel5570AccGRU.append(singleModel5570OneAccGRU)
    singleModel5570MseGRU = singleModel5570MseGRU.append(singleModel5570OneMseGRU)

singleModel5570MseGRU.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.044270  0.087387
1           1      10     64     16      2          0.002  0.041461  0.087937
2           2      10     64     16      4          0.002  0.045073  0.084692
3           3      10     64     16      8          0.002  0.041792  0.086304
4           4      10     64     32      1          0.002  0.044964  0.088542

In [31]:
singleModel5570AccGRU

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.006950,0.060940
1,1,10,64,16,2,0.0020,0.007200,0.060957
2,2,10,64,16,4,0.0020,0.006542,0.057362
3,3,10,64,16,8,0.0020,0.006619,0.057611
4,4,10,64,32,1,0.0020,0.007197,0.060956
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.005927,0.056281
176,176,100,256,64,1,0.0005,0.007326,0.062808
177,177,100,256,64,2,0.0005,0.006562,0.060064
178,178,100,256,64,4,0.0005,0.005766,0.054502
179,179,100,256,64,8,0.0005,0.005699,0.054861

In [32]:
singleModel5570AccGRU.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'keras_loss_model',
 'keras_model_acc']

In [33]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570AccGRU = singleModel5570AccGRU[features_acc]

In [34]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570MseGRU = singleModel5570MseGRU[features_mse]

In [35]:
singleModel5570MseGRU.to_csv('transformed_data/memory_data/model5570-36-0-6-mse_GRU.csv', encoding='utf-8')

In [36]:
idxMseGRU = pd.MultiIndex.from_frame (singleModel5570MseGRU)
idxAccGRU = pd.MultiIndex.from_frame (singleModel5570AccGRU)

In [37]:
idxMseGRU

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0442703701555728,  0.087386630475521),
            ( 10,  64, 16, 2,  0.002, 0.0414613746106624, 0.0879373475909233),
            ( 10,  64, 16, 4,  0.002, 0.0450729541480541, 0.0846924781799316),
            ( 10,  64, 16, 8,  0.002, 0.0417920798063278, 0.0863044038414955),
            ( 10,  64, 32, 1,  0.002,  0.044964101165533,  0.088542103767395),
            ( 10,  64, 32, 2,  0.002, 0.0427400767803192, 0.0841391906142234),
            ( 10,  64, 32, 4,  0.002, 0.0444345064461231, 0.0836991444230079),
            ( 10,  64, 32, 8,  0.002, 0.0432530865073204,  0.082960158586502),
            ( 10,  64, 64, 1,  0.002, 0.0408222712576389, 0.0870056897401809),
            ( 10,  64, 64, 2,  0.002, 0.0436963103711605, 0.0828219577670097),
            ...
            (100, 256, 16, 4, 0.0005, 0.0429310873150825,  0.084684357047081),
            (100, 256, 16, 8, 0.0005, 0.0426526851952075, 0.0841554552316665),
            (100, 256, 32, 1, 0.0005, 0.0435750484466552, 0.0887102037668228),
            (100, 256, 32, 2, 0.0005,  0.043007954955101, 0.0843373239040374),
            (100, 256, 32, 4, 0.0005, 0.0434733964502811, 0.0850050747394561),
            (100, 256, 32, 8, 0.0005, 0.0443185158073902, 0.0842956453561782),
            (100, 256, 64, 1, 0.0005, 0.0416953414678573, 0.0882379636168479),
            (100, 256, 64, 2, 0.0005,  0.042841300368309, 0.0859364494681358),
            (100, 256, 64, 4, 0.0005, 0.0437953174114227, 0.0845210254192352),
            (100, 256, 64, 8, 0.0005, 0.0448833815753459, 0.0836847424507141)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [38]:
idxMseGRU.min()

(10, 64, 16, 1, 0.0005, 0.0343111418187618, 0.1137487888336181)

In [49]:
singleModel5570MseGRU[singleModel5570MseGRU['rmse'] < 0.08178]

     epochs  batch  nodos  layer  learning rate       mse      rmse
165     100    128     64      2         0.0020  0.045130  0.080763
123      75    128     16      8         0.0010  0.043467  0.080588
159     100    128     16      8         0.0010  0.043415  0.080404
162     100    128     32      4         0.0010  0.044504  0.081558
171     100    256     16      8         0.0010  0.044218  0.081210
127      75    128     32      8         0.0005  0.043731  0.081314
131      75    128     64      8         0.0005  0.043657  0.081773
163     100    128     32      8         0.0005  0.044205  0.081227

In [50]:
tabla1 = singleModel5570MseGRU[singleModel5570MseGRU['rmse'] < 0.08178]

In [51]:
tabla1.to_excel("transformed_data/tablas/model5570-36-0-6-rmse_GRU_min.xlsx")

In [52]:
idxMseGRU.max()

(100, 256, 64, 8, 0.002, 0.0431895963847637, 0.0949489772319793)

In [56]:
singleModel5570MseGRU[singleModel5570MseGRU['rmse'] > 0.148]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.025730  0.156509
27      10    256     16      8         0.0010  0.026412  0.149776
24      10    256     16      1         0.0005  0.026409  0.169932
25      10    256     16      2         0.0005  0.025668  0.159286
26      10    256     16      4         0.0005  0.025701  0.158696
27      10    256     16      8         0.0005  0.025759  0.160022
28      10    256     32      1         0.0005  0.025779  0.165676

In [57]:
tabla2 = singleModel5570MseGRU[singleModel5570MseGRU['rmse'] > 0.143]

In [58]:
tabla2.to_excel("transformed_data/tablas/model5570-36-0-6-rmse_GRU_max.xlsx")

In [59]:
singleModel5570MseGRU['rmse'].mean()

0.0896363605641656

## Datos LSTM TRPW Model 5570 (no separarados) 36-0-6

In [60]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-36-0-6-TRPW-acc_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-36-0-6-TRPW-mse_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.042990  0.088695
1           1      10     64     16      2          0.002  0.042331  0.091044
2           2      10     64     16      4          0.002  0.043228  0.091490
3           3      10     64     16      8          0.002  0.031529  0.138744
4           4      10     64     32      1          0.002  0.040891  0.088473

In [61]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.007101,0.061360
1,1,10,64,16,2,0.0020,0.007228,0.062135
2,2,10,64,16,4,0.0020,0.007156,0.061183
3,3,10,64,16,8,0.0020,0.015034,0.099783
4,4,10,64,32,1,0.0020,0.007212,0.062540
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.006798,0.060690
176,176,100,256,64,1,0.0005,0.006934,0.061788
177,177,100,256,64,2,0.0005,0.006412,0.057677
178,178,100,256,64,4,0.0005,0.006050,0.055741
179,179,100,256,64,8,0.0005,0.005917,0.055161

In [62]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [63]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc[features_acc]

,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,10,64,16,1,0.0020,0.007101,0.061360
1,10,64,16,2,0.0020,0.007228,0.062135
2,10,64,16,4,0.0020,0.007156,0.061183
3,10,64,16,8,0.0020,0.015034,0.099783
4,10,64,32,1,0.0020,0.007212,0.062540
...,...,...,...,...,...,...,...
175,100,256,32,8,0.0005,0.006798,0.060690
176,100,256,64,1,0.0005,0.006934,0.061788
177,100,256,64,2,0.0005,0.006412,0.057677
178,100,256,64,4,0.0005,0.006050,0.055741
179,100,256,64,8,0.0005,0.005917,0.055161

In [64]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse[features_mse]

     epochs  batch  nodos  layer  learning rate       mse      rmse
0        10     64     16      1         0.0020  0.042990  0.088695
1        10     64     16      2         0.0020  0.042331  0.091044
2        10     64     16      4         0.0020  0.043228  0.091490
3        10     64     16      8         0.0020  0.031529  0.138744
4        10     64     32      1         0.0020  0.040891  0.088473
..      ...    ...    ...    ...            ...       ...       ...
175     100    256     32      8         0.0005  0.042419  0.087708
176     100    256     64      1         0.0005  0.042579  0.087271
177     100    256     64      2         0.0005  0.042414  0.085531
178     100    256     64      4         0.0005  0.042079  0.085386
179     100    256     64      8         0.0005  0.041385  0.087884

[540 rows x 7 columns]

In [65]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-36-0-6-TRPW-mse_LSTM.csv', encoding='utf-8')

In [66]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [67]:
idxMse

MultiIndex([(  0,  10,  64, 16, 1,  0.002, 0.0429902151226997, ...),
            (  1,  10,  64, 16, 2,  0.002, 0.0423312224447727, ...),
            (  2,  10,  64, 16, 4,  0.002, 0.0432281568646431, ...),
            (  3,  10,  64, 16, 8,  0.002, 0.0315285287797451, ...),
            (  4,  10,  64, 32, 1,  0.002, 0.0408909730613231, ...),
            (  5,  10,  64, 32, 2,  0.002,  0.042252343147993, ...),
            (  6,  10,  64, 32, 4,  0.002, 0.0426499173045158, ...),
            (  7,  10,  64, 32, 8,  0.002, 0.0287419576197862, ...),
            (  8,  10,  64, 64, 1,  0.002, 0.0427414514124393, ...),
            (  9,  10,  64, 64, 2,  0.002, 0.0433662198483943, ...),
            ...
            (170, 100, 256, 16, 4, 0.0005, 0.0416653342545032, ...),
            (171, 100, 256, 16, 8, 0.0005, 0.0402860045433044, ...),
            (172, 100, 256, 32, 1, 0.0005,  0.041439551860094, ...),
            (173, 100, 256, 32, 2, 0.0005, 0.0420587472617626, ...),
            (174, 100, 256, 32, 4, 0.0005, 0.0436178855597972, ...),
            (175, 100, 256, 32, 8, 0.0005, 0.0424187220633029, ...),
            (176, 100, 256, 64, 1, 0.0005, 0.0425787158310413, ...),
            (177, 100, 256, 64, 2, 0.0005, 0.0424144379794597, ...),
            (178, 100, 256, 64, 4, 0.0005, 0.0420785099267959, ...),
            (179, 100, 256, 64, 8, 0.0005, 0.0413848161697387, ...)],
           names=['Unnamed: 0', 'epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [68]:
idxMse.min()

(0, 10, 64, 16, 1, 0.0005, 0.037480030208826, 0.1068195700645446)

In [71]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.0813]

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
144,144,100,64,16,1,0.0020,0.045143,0.080668
145,145,100,64,16,2,0.0020,0.044541,0.081221
152,152,100,64,64,1,0.0020,0.044060,0.081218
161,161,100,128,32,2,0.0020,0.043446,0.080943
110,110,75,64,16,4,0.0010,0.043583,0.081139
145,145,100,64,16,2,0.0010,0.044556,0.081244
150,150,100,64,32,4,0.0010,0.044972,0.081029
150,150,100,64,32,4,0.0005,0.044389,0.080755

In [72]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.0813]

In [73]:
tabla1.to_excel("transformed_data/tablas/model5570multi-36-0-6-TRPW-rmse_LSTM_min.xlsx")

In [74]:
idxMse.max()

(179, 100, 256, 64, 8, 0.002, 0.0456974580883979, 0.090625561773777)

In [80]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.1557]

    Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
15          15      10    128     16      8         0.0020  0.025691  0.160227
27          27      10    256     16      8         0.0020  0.025759  0.160463
35          35      10    256     64      8         0.0020  0.025796  0.158923
27          27      10    256     16      8         0.0010  0.029245  0.155991
24          24      10    256     16      1         0.0005  0.025888  0.159400
26          26      10    256     16      4         0.0005  0.025744  0.158191
27          27      10    256     16      8         0.0005  0.026056  0.158748

In [81]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.1557]

In [82]:
tabla2.to_excel("transformed_data/tablas/model5570multi-36-0-6-TRPW-rmse_LSTM_max.xlsx")

In [83]:
singleModel5570TRPWMse['rmse'].mean()

0.0945390590914973

## Datos LSTM TRPW Model 5570 (separarados) 36-0-6

In [84]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-36-0-6-TRPW-sep-acc_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-36-0-6-TRPW-sep-mse_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.040889  0.090824
1           1      10     64     16      2          0.002  0.042786  0.089999
2           2      10     64     16      4          0.002  0.041508  0.092993
3           3      10     64     16      8          0.002  0.039383  0.113765
4           4      10     64     32      1          0.002  0.040758  0.088986

In [85]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.007204,0.063586
1,1,10,64,16,2,0.0020,0.007289,0.062064
2,2,10,64,16,4,0.0020,0.007463,0.063049
3,3,10,64,16,8,0.0020,0.009600,0.071354
4,4,10,64,32,1,0.0020,0.007246,0.062008
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.007156,0.062517
176,176,100,256,64,1,0.0005,0.006968,0.062031
177,177,100,256,64,2,0.0005,0.006451,0.058475
178,178,100,256,64,4,0.0005,0.006015,0.056415
179,179,100,256,64,8,0.0005,0.006012,0.055097

In [86]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [87]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc[features_acc]

,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,10,64,16,1,0.0020,0.007204,0.063586
1,10,64,16,2,0.0020,0.007289,0.062064
2,10,64,16,4,0.0020,0.007463,0.063049
3,10,64,16,8,0.0020,0.009600,0.071354
4,10,64,32,1,0.0020,0.007246,0.062008
...,...,...,...,...,...,...,...
175,100,256,32,8,0.0005,0.007156,0.062517
176,100,256,64,1,0.0005,0.006968,0.062031
177,100,256,64,2,0.0005,0.006451,0.058475
178,100,256,64,4,0.0005,0.006015,0.056415
179,100,256,64,8,0.0005,0.006012,0.055097

In [88]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse[features_mse]

     epochs  batch  nodos  layer  learning rate       mse      rmse
0        10     64     16      1         0.0020  0.040889  0.090824
1        10     64     16      2         0.0020  0.042786  0.089999
2        10     64     16      4         0.0020  0.041508  0.092993
3        10     64     16      8         0.0020  0.039383  0.113765
4        10     64     32      1         0.0020  0.040758  0.088986
..      ...    ...    ...    ...            ...       ...       ...
175     100    256     32      8         0.0005  0.040315  0.094063
176     100    256     64      1         0.0005  0.041867  0.087760
177     100    256     64      2         0.0005  0.042404  0.086064
178     100    256     64      4         0.0005  0.042649  0.085451
179     100    256     64      8         0.0005  0.042480  0.086086

[540 rows x 7 columns]

In [89]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-36-0-6-TRPW-sep-mse_LSTM.csv', encoding='utf-8')

In [90]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [91]:
idxMse

MultiIndex([(  0,  10,  64, 16, 1,  0.002,  0.040889386087656, ...),
            (  1,  10,  64, 16, 2,  0.002, 0.0427863709628582, ...),
            (  2,  10,  64, 16, 4,  0.002, 0.0415084883570671, ...),
            (  3,  10,  64, 16, 8,  0.002,  0.039382979273796, ...),
            (  4,  10,  64, 32, 1,  0.002, 0.0407577715814113, ...),
            (  5,  10,  64, 32, 2,  0.002, 0.0429946184158325, ...),
            (  6,  10,  64, 32, 4,  0.002, 0.0415594950318336, ...),
            (  7,  10,  64, 32, 8,  0.002,  0.036536332219839, ...),
            (  8,  10,  64, 64, 1,  0.002, 0.0435288324952125, ...),
            (  9,  10,  64, 64, 2,  0.002, 0.0419688932597637, ...),
            ...
            (170, 100, 256, 16, 4, 0.0005, 0.0424328744411468, ...),
            (171, 100, 256, 16, 8, 0.0005, 0.0400803238153457, ...),
            (172, 100, 256, 32, 1, 0.0005, 0.0420922860503196, ...),
            (173, 100, 256, 32, 2, 0.0005, 0.0431397594511508, ...),
            (174, 100, 256, 32, 4, 0.0005, 0.0420832112431526, ...),
            (175, 100, 256, 32, 8, 0.0005, 0.0403152033686637, ...),
            (176, 100, 256, 64, 1, 0.0005, 0.0418668687343597, ...),
            (177, 100, 256, 64, 2, 0.0005, 0.0424043200910091, ...),
            (178, 100, 256, 64, 4, 0.0005, 0.0426485612988472, ...),
            (179, 100, 256, 64, 8, 0.0005, 0.0424795411527156, ...)],
           names=['Unnamed: 0', 'epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [92]:
idxMse.min()

(0, 10, 64, 16, 1, 0.0005, 0.0393177978694438, 0.0987526029348373)

In [97]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08145]

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
47,47,25,64,64,8,0.0020,0.043808,0.081205
144,144,100,64,16,1,0.0020,0.045276,0.080397
145,145,100,64,16,2,0.0020,0.042590,0.081423
148,148,100,64,32,1,0.0020,0.044829,0.081153
145,145,100,64,16,2,0.0010,0.044628,0.081108
162,162,100,128,32,4,0.0010,0.044189,0.081135
153,153,100,64,64,2,0.0005,0.044379,0.081395
165,165,100,128,64,2,0.0005,0.044090,0.081436

In [98]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08145]

In [99]:
tabla1.to_excel("transformed_data/tablas/model5570multi-36-0-6-TRPW-sep-rmse_LSTM_min.xlsx")

In [100]:
idxMse.max()

(179, 100, 256, 64, 8, 0.002, 0.0435097366571426, 0.0870844647288322)

In [102]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.155]

    Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
27          27      10    256     16      8         0.0020  0.025756  0.160466
31          31      10    256     32      8         0.0020  0.029394  0.156625
59          59      25    128     64      8         0.0020  0.025871  0.160791
27          27      10    256     16      8         0.0010  0.025755  0.159922
24          24      10    256     16      1         0.0005  0.026365  0.168375
27          27      10    256     16      8         0.0005  0.025846  0.159769
31          31      10    256     32      8         0.0005  0.028520  0.155638

In [103]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.155]

In [104]:
tabla2.to_excel("transformed_data/tablas/model5570multi-36-0-6-TRPW-sep-rmse_LSTM_max.xlsx")

In [105]:
singleModel5570TRPWMse['rmse'].mean()

0.09526496086683534

## Datos GRU TRPW Model 5570 (no separarados) 36-0-6

In [106]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-36-0-6-TRPW-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-36-0-6-TRPW-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.045308  0.090376
1           1      10     64     16      2          0.002  0.044629  0.085853
2           2      10     64     16      4          0.002  0.043894  0.083971
3           3      10     64     16      8          0.002  0.041056  0.088471
4           4      10     64     32      1          0.002  0.041902  0.087212

In [107]:
singleModel5570TRPWMse

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
0,0,10,64,16,1,0.0020,0.045308,0.090376
1,1,10,64,16,2,0.0020,0.044629,0.085853
2,2,10,64,16,4,0.0020,0.043894,0.083971
3,3,10,64,16,8,0.0020,0.041056,0.088471
4,4,10,64,32,1,0.0020,0.041902,0.087212
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.044716,0.083060
176,176,100,256,64,1,0.0005,0.043501,0.085612
177,177,100,256,64,2,0.0005,0.043425,0.086023
178,178,100,256,64,4,0.0005,0.044254,0.084377
179,179,100,256,64,8,0.0005,0.043681,0.082995

In [108]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.007349,0.061794
1,1,10,64,16,2,0.0020,0.007022,0.059868
2,2,10,64,16,4,0.0020,0.006461,0.057393
3,3,10,64,16,8,0.0020,0.007008,0.059279
4,4,10,64,32,1,0.0020,0.006923,0.061307
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.005819,0.055251
176,176,100,256,64,1,0.0005,0.006761,0.059737
177,177,100,256,64,2,0.0005,0.006530,0.059789
178,178,100,256,64,4,0.0005,0.005849,0.055246
179,179,100,256,64,8,0.0005,0.005598,0.054521

In [109]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [110]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc = singleModel5570TRPWAcc[features_acc]

In [111]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse = singleModel5570TRPWMse[features_mse]

In [112]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-36-0-6-TRPW-mse_GRU.csv', encoding='utf-8')

In [113]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [114]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002,  0.045307770371437, 0.0903762429952621),
            ( 10,  64, 16, 2,  0.002, 0.0446288175880909, 0.0858529284596443),
            ( 10,  64, 16, 4,  0.002, 0.0438939556479454,  0.083970621228218),
            ( 10,  64, 16, 8,  0.002, 0.0410562418401241, 0.0884710475802421),
            ( 10,  64, 32, 1,  0.002, 0.0419015288352966, 0.0872122049331665),
            ( 10,  64, 32, 2,  0.002,  0.042736429721117, 0.0845624804496765),
            ( 10,  64, 32, 4,  0.002,  0.044158935546875,  0.082899235188961),
            ( 10,  64, 32, 8,  0.002, 0.0415043793618679, 0.0878788009285926),
            ( 10,  64, 64, 1,  0.002, 0.0410533919930458, 0.0872406736016273),
            ( 10,  64, 64, 2,  0.002, 0.0421083867549896, 0.0837856829166412),
            ...
            (100, 256, 16, 4, 0.0005, 0.0429942682385444, 0.0845391601324081),
            (100, 256, 16, 8, 0.0005, 0.0430575087666511, 0.0841580405831337),
            (100, 256, 32, 1, 0.0005, 0.0432092547416687, 0.0863050520420074),
            (100, 256, 32, 2, 0.0005, 0.0433769300580024, 0.0840495154261589),
            (100, 256, 32, 4, 0.0005, 0.0433873683214187, 0.0848648771643638),
            (100, 256, 32, 8, 0.0005, 0.0447157062590122, 0.0830598399043083),
            (100, 256, 64, 1, 0.0005,  0.043500542640686, 0.0856123492121696),
            (100, 256, 64, 2, 0.0005, 0.0434253588318824, 0.0860229730606079),
            (100, 256, 64, 4, 0.0005, 0.0442538745701313, 0.0843769386410713),
            (100, 256, 64, 8, 0.0005, 0.0436806231737136, 0.0829945728182792)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [115]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0337083302438259, 0.1167547032237052)

In [121]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08165]

     epochs  batch  nodos  layer  learning rate       mse      rmse
121      75    128     16      2         0.0020  0.043448  0.081590
134      75    256     16      4         0.0020  0.043510  0.080807
148     100     64     32      1         0.0020  0.044444  0.081263
164     100    128     64      1         0.0020  0.043791  0.081201
153     100     64     64      2         0.0010  0.044632  0.081299
171     100    256     16      8         0.0010  0.043897  0.081630
111      75     64     16      8         0.0005  0.044216  0.081168
163     100    128     32      8         0.0005  0.043545  0.081397

In [122]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08165]

In [123]:
tabla1.to_excel("transformed_data/tablas/model5570multi-36-0-6-TRPW-rmse_GRU_min.xlsx")

In [124]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0454646311700344, 0.0870854556560516)

In [125]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.148]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.025757  0.157646
12      10    128     16      1         0.0005  0.025809  0.154471
24      10    256     16      1         0.0005  0.026074  0.172994
25      10    256     16      2         0.0005  0.025670  0.162291
26      10    256     16      4         0.0005  0.025877  0.150960
27      10    256     16      8         0.0005  0.026043  0.151214
28      10    256     32      1         0.0005  0.025780  0.160418

In [126]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.148]

In [127]:
tabla2.to_excel("transformed_data/tablas/model5570multi-36-0-6-TRPW-rmse_GRU_max.xlsx")

In [128]:
singleModel5570TRPWMse['rmse'].mean()

0.08962405202565366

## Datos GRU TRPW Model 5570 (separarados) 36-0-6

In [129]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-36-0-6-TRPW-sep-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-36-0-6-TRPW-sep-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.040071  0.100263
1           1      10     64     16      2          0.002  0.044498  0.087168
2           2      10     64     16      4          0.002  0.040803  0.085626
3           3      10     64     16      8          0.002  0.042964  0.083873
4           4      10     64     32      1          0.002  0.042519  0.091718

In [130]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.009429,0.075276
1,1,10,64,16,2,0.0020,0.007186,0.060303
2,2,10,64,16,4,0.0020,0.006768,0.059458
3,3,10,64,16,8,0.0020,0.006091,0.055045
4,4,10,64,32,1,0.0020,0.007752,0.063027
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.005891,0.055032
176,176,100,256,64,1,0.0005,0.006751,0.060149
177,177,100,256,64,2,0.0005,0.006592,0.060181
178,178,100,256,64,4,0.0005,0.005890,0.055424
179,179,100,256,64,8,0.0005,0.005696,0.055282

In [131]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [132]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc = singleModel5570TRPWAcc[features_acc]

In [133]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse = singleModel5570TRPWMse[features_mse]

In [134]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-36-0-6-TRPW-sep-mse_GRU.csv', encoding='utf-8')

In [135]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [136]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0400712043046951, 0.1002634838223457),
            ( 10,  64, 16, 2,  0.002, 0.0444982834160327, 0.0871675163507461),
            ( 10,  64, 16, 4,  0.002, 0.0408025719225406, 0.0856262221932411),
            ( 10,  64, 16, 8,  0.002, 0.0429638028144836, 0.0838728845119476),
            ( 10,  64, 32, 1,  0.002, 0.0425192639231681, 0.0917181074619293),
            ( 10,  64, 32, 2,  0.002, 0.0418982319533824, 0.0837058126926422),
            ( 10,  64, 32, 4,  0.002, 0.0437354147434234, 0.0835553854703903),
            ( 10,  64, 32, 8,  0.002, 0.0421903580427169, 0.0837521255016326),
            ( 10,  64, 64, 1,  0.002,  0.041364599019289, 0.0873708203434944),
            ( 10,  64, 64, 2,  0.002, 0.0432089082896709, 0.0833237394690513),
            ...
            (100, 256, 16, 4, 0.0005, 0.0434089004993438, 0.0843118727207183),
            (100, 256, 16, 8, 0.0005, 0.0433201640844345, 0.0842667520046234),
            (100, 256, 32, 1, 0.0005, 0.0435102321207523, 0.0883358791470527),
            (100, 256, 32, 2, 0.0005, 0.0434333980083465, 0.0841945633292198),
            (100, 256, 32, 4, 0.0005, 0.0432488173246383, 0.0845581367611885),
            (100, 256, 32, 8, 0.0005, 0.0442274510860443, 0.0832790285348892),
            (100, 256, 64, 1, 0.0005,  0.043279405683279, 0.0857287347316742),
            (100, 256, 64, 2, 0.0005, 0.0441966727375984, 0.0859403237700462),
            (100, 256, 64, 4, 0.0005, 0.0445064082741737, 0.0847462341189384),
            (100, 256, 64, 8, 0.0005, 0.0449769981205463, 0.0824186950922012)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [137]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0336979106068611, 0.1158012896776199)

In [144]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08157]

     epochs  batch  nodos  layer  learning rate       mse      rmse
135      75    256     16      8         0.0020  0.043713  0.080879
171     100    256     16      8         0.0020  0.044280  0.081452
111      75     64     16      8         0.0010  0.043494  0.080476
147     100     64     16      8         0.0010  0.044451  0.081023
162     100    128     32      4         0.0010  0.043632  0.081560
127      75    128     32      8         0.0005  0.043484  0.081544
147     100     64     16      8         0.0005  0.043878  0.080918
163     100    128     32      8         0.0005  0.043979  0.080004

In [145]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08157]

In [146]:
tabla1.to_excel("transformed_data/tablas/model5570multi-36-0-6-TRPW-sep-rmse_GRU_min.xlsx")

In [147]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0447481945157051, 0.0907938480377197)

In [148]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.144]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.025747  0.154015
12      10    128     16      1         0.0005  0.026097  0.146035
24      10    256     16      1         0.0005  0.027164  0.168618
25      10    256     16      2         0.0005  0.025737  0.166036
26      10    256     16      4         0.0005  0.025811  0.152967
27      10    256     16      8         0.0005  0.025732  0.159596
28      10    256     32      1         0.0005  0.025715  0.162265

In [149]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.144]

In [150]:
tabla2.to_excel("transformed_data/tablas/model5570multi-36-0-6-TRPW-sep-rmse_GRU_max.xlsx")

In [151]:
singleModel5570TRPWMse['rmse'].mean()

0.08975273803980259