In [7]:
import pandas as pd

# Comparacion de datos 6-0-1

## Datos LSTM Model 5570 6-0-1

In [2]:
#OK
singleModel5570Acc = pd.DataFrame({})
singleModel5570Mse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneAcc = pd.read_csv('transformed_data/model5570-6-0-1-acc_LSTM_'+str(index).zfill(1) +'.csv')
    singleModel5570OneMse = pd.read_csv('transformed_data/model5570-6-0-1-mse_LSTM_'+str(index).zfill(1) +'.csv')
    singleModel5570Acc = singleModel5570Acc.append(singleModel5570OneAcc)
    singleModel5570Mse = singleModel5570Mse.append(singleModel5570OneMse)

singleModel5570Mse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.041525  0.078230
1           1      10     64     16      2          0.002  0.041409  0.080326
2           2      10     64     16      4          0.002  0.040120  0.086497
3           3      10     64     16      8          0.002  0.039203  0.088331
4           4      10     64     32      1          0.002  0.041567  0.078209

In [3]:
singleModel5570Acc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.006317,0.058994
1,1,10,64,16,2,0.0020,0.006555,0.060714
2,2,10,64,16,4,0.0020,0.007312,0.064579
3,3,10,64,16,8,0.0020,0.007535,0.066067
4,4,10,64,32,1,0.0020,0.006344,0.059745
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.008169,0.066611
176,176,100,256,64,1,0.0005,0.006750,0.059122
177,177,100,256,64,2,0.0005,0.006716,0.059992
178,178,100,256,64,4,0.0005,0.007304,0.063309
179,179,100,256,64,8,0.0005,0.008073,0.068035

In [4]:
singleModel5570Mse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [5]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570Acc = singleModel5570Acc[features_acc]

In [6]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570Mse = singleModel5570Mse[features_mse]

In [7]:
singleModel5570Mse.to_csv('transformed_data/memory_data/model5570-6-0-1-rmse_LSTM.csv', encoding='utf-8')

In [8]:
idxMse = pd.MultiIndex.from_frame (singleModel5570Mse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570Acc)

In [9]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0415245667099952, 0.0782304853200912),
            ( 10,  64, 16, 2,  0.002, 0.0414090193808078, 0.0803263932466507),
            ( 10,  64, 16, 4,  0.002, 0.0401198491454124, 0.0864972993731498),
            ( 10,  64, 16, 8,  0.002, 0.0392031855881214,  0.088331289589405),
            ( 10,  64, 32, 1,  0.002,  0.041566964238882, 0.0782090276479721),
            ( 10,  64, 32, 2,  0.002, 0.0416693948209285, 0.0778426378965377),
            ( 10,  64, 32, 4,  0.002, 0.0404291972517967, 0.0843090265989303),
            ( 10,  64, 32, 8,  0.002, 0.0444781221449375, 0.0846263915300369),
            ( 10,  64, 64, 1,  0.002, 0.0415513403713703, 0.0766734257340431),
            ( 10,  64, 64, 2,  0.002, 0.0423313826322555, 0.0772210210561752),
            ...
            (100, 256, 16, 4, 0.0005, 0.0404954850673675, 0.0892858207225799),
            (100, 256, 16, 8, 0.0005,  0.039312370121479, 0.0958171561360359),
            (100, 256, 32, 1, 0.0005, 0.0409523136913776, 0.0814942345023155),
            (100, 256, 32, 2, 0.0005, 0.0411318652331829, 0.0839032456278801),
            (100, 256, 32, 4, 0.0005, 0.0405786335468292, 0.0890174731612205),
            (100, 256, 32, 8, 0.0005, 0.0389771535992622, 0.0936624035239219),
            (100, 256, 64, 1, 0.0005,  0.041212610900402, 0.0821045860648155),
            (100, 256, 64, 2, 0.0005, 0.0409107953310012, 0.0819070115685463),
            (100, 256, 64, 4, 0.0005, 0.0395708344876766,  0.086907260119915),
            (100, 256, 64, 8, 0.0005,  0.037122581154108, 0.0929054096341133)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [10]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0410867929458618, 0.0823751837015152)

In [17]:
singleModel5570Mse[singleModel5570Mse['rmse'] < 0.0681]

     epochs  batch  nodos  layer  learning rate       mse      rmse
47       25     64     64      8          0.002  0.043167  0.068051
123      75    128     16      8          0.002  0.044337  0.068026
127      75    128     32      8          0.002  0.044657  0.067698
130      75    128     64      4          0.002  0.043326  0.067493
145     100     64     16      2          0.002  0.044969  0.067829
148     100     64     32      1          0.002  0.044621  0.067760
149     100     64     32      2          0.002  0.045746  0.067796
153     100     64     64      2          0.001  0.045175  0.067926

In [18]:
tabla1 = singleModel5570Mse[singleModel5570Mse['rmse'] < 0.0681]

In [19]:
tabla1.to_excel("transformed_data/tablas/model5570-6-0-1-rmse_LSTM_min.xlsx")

In [21]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0426129437983036, 0.0746535807847976)

In [23]:
singleModel5570Mse[singleModel5570Mse['rmse'] > 0.1574]

    epochs  batch  nodos  layer  learning rate       mse      rmse
27      10    256     16      8         0.0010  0.025263  0.157997
24      10    256     16      1         0.0005  0.025985  0.178269
25      10    256     16      2         0.0005  0.025364  0.173646
26      10    256     16      4         0.0005  0.025149  0.159647
27      10    256     16      8         0.0005  0.025262  0.158760
28      10    256     32      1         0.0005  0.025261  0.171099
31      10    256     32      8         0.0005  0.025210  0.158226

In [24]:
tabla2 = singleModel5570Mse[singleModel5570Mse['rmse'] > 0.1574]

In [25]:
tabla2.to_excel("transformed_data/tablas/model5570-6-0-1-rmse_LSTM_max.xlsx")

In [26]:
singleModel5570Mse['rmse'].mean()

0.08228434005545242

## Datos LSTM Model 5570 - GRU 6-0-1

In [27]:
#OK
singleModel5570AccGRU = pd.DataFrame({})
singleModel5570MseGRU = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneAccGRU = pd.read_csv('transformed_data/model5570-6-0-1-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570OneMseGRU = pd.read_csv('transformed_data/model5570-6-0-1-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570AccGRU = singleModel5570AccGRU.append(singleModel5570OneAccGRU)
    singleModel5570MseGRU = singleModel5570MseGRU.append(singleModel5570OneMseGRU)

singleModel5570MseGRU.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.042920  0.073231
1           1      10     64     16      2          0.002  0.044135  0.072110
2           2      10     64     16      4          0.002  0.042292  0.070169
3           3      10     64     16      8          0.002  0.042501  0.072073
4           4      10     64     32      1          0.002  0.043241  0.072879

In [28]:
singleModel5570AccGRU

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.005903,0.057147
1,1,10,64,16,2,0.0020,0.005833,0.057052
2,2,10,64,16,4,0.0020,0.005518,0.054701
3,3,10,64,16,8,0.0020,0.005554,0.053234
4,4,10,64,32,1,0.0020,0.005892,0.057551
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.006150,0.057822
176,176,100,256,64,1,0.0005,0.006293,0.057339
177,177,100,256,64,2,0.0005,0.005820,0.056172
178,178,100,256,64,4,0.0005,0.005743,0.055496
179,179,100,256,64,8,0.0005,0.005695,0.054360

In [29]:
singleModel5570AccGRU.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'keras_loss_model',
 'keras_model_acc']

In [30]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570AccGRU = singleModel5570AccGRU[features_acc]

In [31]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570MseGRU = singleModel5570MseGRU[features_mse]

In [32]:
singleModel5570MseGRU.to_csv('transformed_data/memory_data/model5570-6-0-1-mse_GRU.csv', encoding='utf-8')

In [33]:
idxMseGRU = pd.MultiIndex.from_frame (singleModel5570MseGRU)
idxAccGRU = pd.MultiIndex.from_frame (singleModel5570AccGRU)

In [34]:
idxMseGRU

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0429200306534767, 0.0732306838035583),
            ( 10,  64, 16, 2,  0.002, 0.0441349074244499,  0.072110004723072),
            ( 10,  64, 16, 4,  0.002, 0.0422923974692821, 0.0701692625880241),
            ( 10,  64, 16, 8,  0.002, 0.0425008796155452, 0.0720734745264053),
            ( 10,  64, 32, 1,  0.002, 0.0432411916553974, 0.0728787705302238),
            ( 10,  64, 32, 2,  0.002, 0.0430772490799427, 0.0699829161167144),
            ( 10,  64, 32, 4,  0.002, 0.0424651466310024, 0.0690650343894958),
            ( 10,  64, 32, 8,  0.002, 0.0460699051618576, 0.0703411772847175),
            ( 10,  64, 64, 1,  0.002, 0.0433788858354091,  0.072075106203556),
            ( 10,  64, 64, 2,  0.002, 0.0426950603723526, 0.0689066052436828),
            ...
            (100, 256, 16, 4, 0.0005, 0.0407395176589489, 0.0818560868501663),
            (100, 256, 16, 8, 0.0005, 0.0394503585994243, 0.0886923745274543),
            (100, 256, 32, 1, 0.0005, 0.0418911166489124, 0.0776937082409858),
            (100, 256, 32, 2, 0.0005,   0.04199855402112, 0.0747724324464798),
            (100, 256, 32, 4, 0.0005, 0.0410589724779129, 0.0757524818181991),
            (100, 256, 32, 8, 0.0005,  0.038525354117155, 0.0795875489711761),
            (100, 256, 64, 1, 0.0005, 0.0419254079461097, 0.0775910541415214),
            (100, 256, 64, 2, 0.0005, 0.0418692529201507, 0.0730471536517143),
            (100, 256, 64, 4, 0.0005,  0.039239577949047, 0.0742979571223259),
            (100, 256, 64, 8, 0.0005, 0.0397640317678451, 0.0755771771073341)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [35]:
idxMseGRU.min()

(10, 64, 16, 1, 0.0005, 0.0419187359511852, 0.0778190046548843)

In [43]:
singleModel5570MseGRU[singleModel5570MseGRU['rmse'] < 0.06767]

     epochs  batch  nodos  layer  learning rate       mse      rmse
125      75    128     32      2          0.002  0.043661  0.067640
126      75    128     32      4          0.002  0.044969  0.067559
127      75    128     32      8          0.002  0.042564  0.067623
129      75    128     64      2          0.002  0.044333  0.067595
130      75    128     64      4          0.002  0.044557  0.067018
131      75    128     64      8          0.002  0.044361  0.066858
129      75    128     64      2          0.001  0.043595  0.067609
131      75    128     64      8          0.001  0.043671  0.067591

In [44]:
tabla1 = singleModel5570MseGRU[singleModel5570MseGRU['rmse'] < 0.06767]

In [45]:
tabla1.to_excel("transformed_data/tablas/model5570-6-0-1-rmse_GRU_min.xlsx")

In [46]:
idxMseGRU.max()

(100, 256, 64, 8, 0.002, 0.039552204310894, 0.075417660176754)

In [51]:
singleModel5570MseGRU[singleModel5570MseGRU['rmse'] > 0.137]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.025229  0.149102
12      10    128     16      1         0.0005  0.025653  0.137095
24      10    256     16      1         0.0005  0.025663  0.167804
25      10    256     16      2         0.0005  0.025075  0.154265
26      10    256     16      4         0.0005  0.025140  0.155727
27      10    256     16      8         0.0005  0.025180  0.156068
28      10    256     32      1         0.0005  0.025191  0.167003

In [52]:
tabla2 = singleModel5570MseGRU[singleModel5570MseGRU['rmse'] > 0.137]

In [53]:
tabla2.to_excel("transformed_data/tablas/model5570-6-0-1-rmse_GRU_max.xlsx")

In [54]:
singleModel5570MseGRU['rmse'].mean()

0.07526215810190744

## Datos LSTM TRPW Model 5570 (no separarados) 6-0-1

In [8]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-6-0-1-TRPW-acc_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-6-0-1-TRPW-mse_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.041478  0.078847
1           1      10     64     16      2          0.002  0.041572  0.079860
2           2      10     64     16      4          0.002  0.040441  0.085061
3           3      10     64     16      8          0.002  0.038941  0.089465
4           4      10     64     32      1          0.002  0.041698  0.077751

In [9]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.006376,0.059321
1,1,10,64,16,2,0.0020,0.006509,0.060254
2,2,10,64,16,4,0.0020,0.007136,0.063832
3,3,10,64,16,8,0.0020,0.007674,0.066881
4,4,10,64,32,1,0.0020,0.006308,0.059639
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.008217,0.066888
176,176,100,256,64,1,0.0005,0.006649,0.058650
177,177,100,256,64,2,0.0005,0.006786,0.060216
178,178,100,256,64,4,0.0005,0.007335,0.063527
179,179,100,256,64,8,0.0005,0.008116,0.068160

In [10]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [11]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc[features_acc]

,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,10,64,16,1,0.0020,0.006376,0.059321
1,10,64,16,2,0.0020,0.006509,0.060254
2,10,64,16,4,0.0020,0.007136,0.063832
3,10,64,16,8,0.0020,0.007674,0.066881
4,10,64,32,1,0.0020,0.006308,0.059639
...,...,...,...,...,...,...,...
175,100,256,32,8,0.0005,0.008217,0.066888
176,100,256,64,1,0.0005,0.006649,0.058650
177,100,256,64,2,0.0005,0.006786,0.060216
178,100,256,64,4,0.0005,0.007335,0.063527
179,100,256,64,8,0.0005,0.008116,0.068160

In [12]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse[features_mse]

     epochs  batch  nodos  layer  learning rate       mse      rmse
0        10     64     16      1         0.0020  0.041478  0.078847
1        10     64     16      2         0.0020  0.041572  0.079860
2        10     64     16      4         0.0020  0.040441  0.085061
3        10     64     16      8         0.0020  0.038941  0.089465
4        10     64     32      1         0.0020  0.041698  0.077751
..      ...    ...    ...    ...            ...       ...       ...
175     100    256     32      8         0.0005  0.038814  0.093923
176     100    256     64      1         0.0005  0.041216  0.081290
177     100    256     64      2         0.0005  0.040970  0.082460
178     100    256     64      4         0.0005  0.039542  0.087104
179     100    256     64      8         0.0005  0.037072  0.093182

[540 rows x 7 columns]

In [13]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-6-0-1-TRPW-mse_LSTM.csv', encoding='utf-8')

In [14]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [15]:
idxMse

MultiIndex([(  0,  10,  64, 16, 1,  0.002, 0.0414779484272003, ...),
            (  1,  10,  64, 16, 2,  0.002, 0.0415717028081417, ...),
            (  2,  10,  64, 16, 4,  0.002, 0.0404406376183033, ...),
            (  3,  10,  64, 16, 8,  0.002, 0.0389413572847843, ...),
            (  4,  10,  64, 32, 1,  0.002,  0.041698157787323, ...),
            (  5,  10,  64, 32, 2,  0.002, 0.0415994152426719, ...),
            (  6,  10,  64, 32, 4,  0.002, 0.0406252779066562, ...),
            (  7,  10,  64, 32, 8,  0.002, 0.0434772670269012, ...),
            (  8,  10,  64, 64, 1,  0.002, 0.0414170734584331, ...),
            (  9,  10,  64, 64, 2,  0.002, 0.0423292331397533, ...),
            ...
            (170, 100, 256, 16, 4, 0.0005, 0.0403937697410583, ...),
            (171, 100, 256, 16, 8, 0.0005, 0.0389395952224731, ...),
            (172, 100, 256, 32, 1, 0.0005, 0.0410532727837562, ...),
            (173, 100, 256, 32, 2, 0.0005, 0.0410559251904487, ...),
            (174, 100, 256, 32, 4, 0.0005, 0.0405715145170688, ...),
            (175, 100, 256, 32, 8, 0.0005, 0.0388141945004463, ...),
            (176, 100, 256, 64, 1, 0.0005, 0.0412156768143177, ...),
            (177, 100, 256, 64, 2, 0.0005, 0.0409696400165557, ...),
            (178, 100, 256, 64, 4, 0.0005, 0.0395422652363777, ...),
            (179, 100, 256, 64, 8, 0.0005,   0.03707180544734, ...)],
           names=['Unnamed: 0', 'epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [16]:
idxMse.min()

(0, 10, 64, 16, 1, 0.0005, 0.0409910678863525, 0.0838134512305259)

In [17]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.06803]

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
127,127,75,128,32,8,0.002,0.043627,0.067738
130,130,75,128,64,4,0.002,0.044020,0.067119
144,144,100,64,16,1,0.002,0.043438,0.067906
148,148,100,64,32,1,0.002,0.044124,0.068012
149,149,100,64,32,2,0.002,0.045331,0.067613
152,152,100,64,64,1,0.002,0.044892,0.067751
150,150,100,64,32,4,0.001,0.046055,0.067911
153,153,100,64,64,2,0.001,0.045160,0.067876

In [18]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.06803]

In [19]:
tabla1.to_excel("transformed_data/tablas/model5570multi-6-0-1-TRPW-rmse_LSTM_min.xlsx")

In [20]:
idxMse.max()

(179, 100, 256, 64, 8, 0.002, 0.0427903980016708, 0.0743760243058204)

In [21]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.1583]

    Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
24          24      10    256     16      1         0.0010  0.025103  0.159735
24          24      10    256     16      1         0.0005  0.026169  0.186650
25          25      10    256     16      2         0.0005  0.025334  0.172783
27          27      10    256     16      8         0.0005  0.025273  0.158706
28          28      10    256     32      1         0.0005  0.025259  0.171039
31          31      10    256     32      8         0.0005  0.025217  0.158311

In [22]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.1583]

In [23]:
tabla2.to_excel("transformed_data/tablas/model5570multi-6-0-1-TRPW-rmse_LSTM_max.xlsx")

In [24]:
singleModel5570TRPWMse['rmse'].mean()

0.08217187192704938

## Datos LSTM TRPW Model 5570 (separarados) 6-0-1

In [25]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-6-0-1-TRPW-sep-acc_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-6-0-1-TRPW-sep-mse_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.041625  0.078348
1           1      10     64     16      2          0.002  0.041550  0.079653
2           2      10     64     16      4          0.002  0.040294  0.086225
3           3      10     64     16      8          0.002  0.039207  0.089011
4           4      10     64     32      1          0.002  0.041603  0.078051

In [26]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.006331,0.059042
1,1,10,64,16,2,0.0020,0.006483,0.060409
2,2,10,64,16,4,0.0020,0.007308,0.064515
3,3,10,64,16,8,0.0020,0.007655,0.066646
4,4,10,64,32,1,0.0020,0.006323,0.059694
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.008171,0.066749
176,176,100,256,64,1,0.0005,0.006725,0.059023
177,177,100,256,64,2,0.0005,0.006730,0.059964
178,178,100,256,64,4,0.0005,0.007340,0.063473
179,179,100,256,64,8,0.0005,0.008048,0.067840

In [27]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [28]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc[features_acc]

,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,10,64,16,1,0.0020,0.006331,0.059042
1,10,64,16,2,0.0020,0.006483,0.060409
2,10,64,16,4,0.0020,0.007308,0.064515
3,10,64,16,8,0.0020,0.007655,0.066646
4,10,64,32,1,0.0020,0.006323,0.059694
...,...,...,...,...,...,...,...
175,100,256,32,8,0.0005,0.008171,0.066749
176,100,256,64,1,0.0005,0.006725,0.059023
177,100,256,64,2,0.0005,0.006730,0.059964
178,100,256,64,4,0.0005,0.007340,0.063473
179,100,256,64,8,0.0005,0.008048,0.067840

In [29]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse[features_mse]

     epochs  batch  nodos  layer  learning rate       mse      rmse
0        10     64     16      1         0.0020  0.041625  0.078348
1        10     64     16      2         0.0020  0.041550  0.079653
2        10     64     16      4         0.0020  0.040294  0.086225
3        10     64     16      8         0.0020  0.039207  0.089011
4        10     64     32      1         0.0020  0.041603  0.078051
..      ...    ...    ...    ...            ...       ...       ...
175     100    256     32      8         0.0005  0.038986  0.093539
176     100    256     64      1         0.0005  0.041148  0.081973
177     100    256     64      2         0.0005  0.040895  0.082091
178     100    256     64      4         0.0005  0.039665  0.087158
179     100    256     64      8         0.0005  0.037132  0.092756

[540 rows x 7 columns]

In [30]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-6-0-1-TRPW-sep-mse_LSTM.csv', encoding='utf-8')

In [31]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [32]:
idxMse

MultiIndex([(  0,  10,  64, 16, 1,  0.002, 0.0416252091526985, ...),
            (  1,  10,  64, 16, 2,  0.002, 0.0415495410561561, ...),
            (  2,  10,  64, 16, 4,  0.002, 0.0402935296297073, ...),
            (  3,  10,  64, 16, 8,  0.002, 0.0392073914408683, ...),
            (  4,  10,  64, 32, 1,  0.002, 0.0416026078164577, ...),
            (  5,  10,  64, 32, 2,  0.002, 0.0415906906127929, ...),
            (  6,  10,  64, 32, 4,  0.002, 0.0404915064573287, ...),
            (  7,  10,  64, 32, 8,  0.002, 0.0446024984121322, ...),
            (  8,  10,  64, 64, 1,  0.002, 0.0414944551885128, ...),
            (  9,  10,  64, 64, 2,  0.002, 0.0424134396016597, ...),
            ...
            (170, 100, 256, 16, 4, 0.0005, 0.0403868071734905, ...),
            (171, 100, 256, 16, 8, 0.0005, 0.0392557829618454, ...),
            (172, 100, 256, 32, 1, 0.0005, 0.0409697443246841, ...),
            (173, 100, 256, 32, 2, 0.0005, 0.0411146469414234, ...),
            (174, 100, 256, 32, 4, 0.0005, 0.0405531115829944, ...),
            (175, 100, 256, 32, 8, 0.0005, 0.0389856807887554, ...),
            (176, 100, 256, 64, 1, 0.0005, 0.0411483757197856, ...),
            (177, 100, 256, 64, 2, 0.0005, 0.0408945344388484, ...),
            (178, 100, 256, 64, 4, 0.0005, 0.0396654792129993, ...),
            (179, 100, 256, 64, 8, 0.0005, 0.0371316559612751, ...)],
           names=['Unnamed: 0', 'epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [33]:
idxMse.min()

(0, 10, 64, 16, 1, 0.0005, 0.0411918871104717, 0.0828588977456092)

In [34]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.06807]

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
123,123,75,128,16,8,0.002,0.044594,0.067660
130,130,75,128,64,4,0.002,0.043675,0.067359
145,145,100,64,16,2,0.002,0.044823,0.067555
149,149,100,64,32,2,0.002,0.045730,0.067795
152,152,100,64,64,1,0.002,0.044263,0.067947
149,149,100,64,32,2,0.001,0.044085,0.068060
150,150,100,64,32,4,0.001,0.045735,0.068060
153,153,100,64,64,2,0.001,0.045286,0.067984

In [35]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.06807]

In [36]:
tabla1.to_excel("transformed_data/tablas/model5570multi-6-0-1-TRPW-sep-rmse_LSTM_min.xlsx")

In [37]:
idxMse.max()

(179, 100, 256, 64, 8, 0.002, 0.0422178395092487, 0.0739810019731521)

In [38]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.1583]

    Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
24          24      10    256     16      1         0.0010  0.025145  0.162437
27          27      10    256     16      8         0.0010  0.025248  0.158364
24          24      10    256     16      1         0.0005  0.026120  0.185115
25          25      10    256     16      2         0.0005  0.025225  0.169305
26          26      10    256     16      4         0.0005  0.025184  0.160628
27          27      10    256     16      8         0.0005  0.025271  0.158845
28          28      10    256     32      1         0.0005  0.025236  0.170461

In [39]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.1583]

In [40]:
tabla2.to_excel("transformed_data/tablas/model5570multi-6-0-1-TRPW-sep-rmse_LSTM_max.xlsx")

In [41]:
singleModel5570TRPWMse['rmse'].mean()

0.08235816098749633

## Datos GRU TRPW Model 5570 (no separarados) 6-0-1

In [120]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-6-0-1-TRPW-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-6-0-1-TRPW-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.042589  0.075126
1           1      10     64     16      2          0.002  0.043710  0.073387
2           2      10     64     16      4          0.002  0.042595  0.069873
3           3      10     64     16      8          0.002  0.043647  0.071850
4           4      10     64     32      1          0.002  0.043398  0.072269

In [121]:
singleModel5570TRPWMse

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
0,0,10,64,16,1,0.0020,0.042589,0.075126
1,1,10,64,16,2,0.0020,0.043710,0.073387
2,2,10,64,16,4,0.0020,0.042595,0.069873
3,3,10,64,16,8,0.0020,0.043647,0.071850
4,4,10,64,32,1,0.0020,0.043398,0.072269
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.038534,0.079375
176,176,100,256,64,1,0.0005,0.042062,0.075956
177,177,100,256,64,2,0.0005,0.041937,0.072491
178,178,100,256,64,4,0.0005,0.039412,0.073643
179,179,100,256,64,8,0.0005,0.038939,0.076524

In [122]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.006068,0.058128
1,1,10,64,16,2,0.0020,0.005952,0.058045
2,2,10,64,16,4,0.0020,0.005548,0.055367
3,3,10,64,16,8,0.0020,0.005561,0.052831
4,4,10,64,32,1,0.0020,0.005825,0.057066
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.006188,0.058413
176,176,100,256,64,1,0.0005,0.006133,0.056457
177,177,100,256,64,2,0.0005,0.005767,0.055453
178,178,100,256,64,4,0.0005,0.005682,0.055057
179,179,100,256,64,8,0.0005,0.005801,0.055437

In [123]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [124]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc = singleModel5570TRPWAcc[features_acc]

In [125]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse = singleModel5570TRPWMse[features_mse]

In [126]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-6-0-1-TRPW-mse_GRU.csv', encoding='utf-8')

In [127]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [128]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0425890162587165, 0.0751263350248336),
            ( 10,  64, 16, 2,  0.002, 0.0437096990644931, 0.0733867511153221),
            ( 10,  64, 16, 4,  0.002, 0.0425946898758411, 0.0698728114366531),
            ( 10,  64, 16, 8,  0.002, 0.0436472669243812, 0.0718501582741737),
            ( 10,  64, 32, 1,  0.002, 0.0433977581560611, 0.0722692757844924),
            ( 10,  64, 32, 2,  0.002, 0.0434200465679168, 0.0699272155761718),
            ( 10,  64, 32, 4,  0.002, 0.0426024682819843, 0.0687809884548187),
            ( 10,  64, 32, 8,  0.002,   0.04543062672019, 0.0703208222985267),
            ( 10,  64, 64, 1,  0.002, 0.0434276089072227, 0.0716915726661682),
            ( 10,  64, 64, 2,  0.002, 0.0425578393042087, 0.0689093321561813),
            ...
            (100, 256, 16, 4, 0.0005, 0.0408253483474254, 0.0794340670108795),
            (100, 256, 16, 8, 0.0005,  0.039640124887228, 0.0856271162629127),
            (100, 256, 32, 1, 0.0005, 0.0417391061782836, 0.0778230801224708),
            (100, 256, 32, 2, 0.0005, 0.0417474955320358, 0.0753105878829956),
            (100, 256, 32, 4, 0.0005, 0.0405076816678047, 0.0750830471515655),
            (100, 256, 32, 8, 0.0005,   0.03853440284729, 0.0793754309415817),
            (100, 256, 64, 1, 0.0005, 0.0420617721974849, 0.0759558379650116),
            (100, 256, 64, 2, 0.0005, 0.0419366583228111, 0.0724910572171211),
            (100, 256, 64, 4, 0.0005, 0.0394117981195449, 0.0736425817012786),
            (100, 256, 64, 8, 0.0005, 0.0389392636716365, 0.0765244662761688)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [129]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0418948903679847, 0.079850859940052)

In [138]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.06763]

     epochs  batch  nodos  layer  learning rate       mse      rmse
123      75    128     16      8          0.002  0.044652  0.067523
125      75    128     32      2          0.002  0.043852  0.067609
126      75    128     32      4          0.002  0.044979  0.067373
127      75    128     32      8          0.002  0.043001  0.067380
129      75    128     64      2          0.002  0.044196  0.067603
130      75    128     64      4          0.002  0.044599  0.067028
131      75    128     64      8          0.002  0.042793  0.067251
131      75    128     64      8          0.001  0.043668  0.067627

In [139]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.06763]

In [140]:
tabla1.to_excel("transformed_data/tablas/model5570multi-6-0-1-TRPW-rmse_GRU_min.xlsx")

In [141]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.041075050830841, 0.0739699900150299)

In [143]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.138]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.025164  0.151407
12      10    128     16      1         0.0005  0.025195  0.151356
24      10    256     16      1         0.0005  0.025273  0.171843
25      10    256     16      2         0.0005  0.025043  0.158096
26      10    256     16      4         0.0005  0.025427  0.142217
27      10    256     16      8         0.0005  0.025662  0.138330
28      10    256     32      1         0.0005  0.025126  0.159095

In [144]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.138]

In [145]:
tabla2.to_excel("transformed_data/tablas/model5570multi-6-0-1-TRPW-rmse_GRU_max.xlsx")

In [146]:
singleModel5570TRPWMse['rmse'].mean()

0.07508666516730075

## Datos GRU TRPW Model 5570 (separarados) 6-0-1

In [147]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-6-0-1-TRPW-sep-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-6-0-1-TRPW-sep-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.042704  0.074335
1           1      10     64     16      2          0.002  0.043878  0.072159
2           2      10     64     16      4          0.002  0.042668  0.071134
3           3      10     64     16      8          0.002  0.043439  0.071543
4           4      10     64     32      1          0.002  0.043066  0.073161

In [148]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.005990,0.057582
1,1,10,64,16,2,0.0020,0.005812,0.056953
2,2,10,64,16,4,0.0020,0.005650,0.055177
3,3,10,64,16,8,0.0020,0.005638,0.054002
4,4,10,64,32,1,0.0020,0.005913,0.057622
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.006291,0.058742
176,176,100,256,64,1,0.0005,0.006152,0.056463
177,177,100,256,64,2,0.0005,0.005658,0.054569
178,178,100,256,64,4,0.0005,0.005682,0.055221
179,179,100,256,64,8,0.0005,0.005740,0.054604

In [149]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [150]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc = singleModel5570TRPWAcc[features_acc]

In [151]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse = singleModel5570TRPWMse[features_mse]

In [152]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-6-0-1-TRPW-sep-mse_GRU.csv', encoding='utf-8')

In [153]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [154]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0427041761577129, 0.0743351206183433),
            ( 10,  64, 16, 2,  0.002, 0.0438776388764381, 0.0721589550375938),
            ( 10,  64, 16, 4,  0.002, 0.0426680669188499,  0.071134015917778),
            ( 10,  64, 16, 8,  0.002, 0.0434385016560554,  0.071543276309967),
            ( 10,  64, 32, 1,  0.002, 0.0430660024285316,  0.073160782456398),
            ( 10,  64, 32, 2,  0.002, 0.0437056794762611, 0.0701353847980499),
            ( 10,  64, 32, 4,  0.002, 0.0425481460988521, 0.0692610442638397),
            ( 10,  64, 32, 8,  0.002,  0.045168824493885, 0.0706468746066093),
            ( 10,  64, 64, 1,  0.002, 0.0433766357600688, 0.0715125352144241),
            ( 10,  64, 64, 2,  0.002, 0.0427540391683578, 0.0693857595324516),
            ...
            (100, 256, 16, 4, 0.0005, 0.0413180850446224, 0.0785040035843849),
            (100, 256, 16, 8, 0.0005,  0.039747666567564, 0.0863213911652565),
            (100, 256, 32, 1, 0.0005, 0.0418032966554164, 0.0779572576284408),
            (100, 256, 32, 2, 0.0005, 0.0421094335615634, 0.0744698271155357),
            (100, 256, 32, 4, 0.0005, 0.0405677258968353, 0.0749007314443588),
            (100, 256, 32, 8, 0.0005, 0.0384594649076461, 0.0805814415216445),
            (100, 256, 64, 1, 0.0005,  0.042013294994831, 0.0762562081217765),
            (100, 256, 64, 2, 0.0005, 0.0420583710074424, 0.0717756375670433),
            (100, 256, 64, 4, 0.0005, 0.0395537614822387,  0.073322482407093),
            (100, 256, 64, 8, 0.0005, 0.0395445674657821, 0.0759976580739021)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [155]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0419689640402793, 0.0791434422135353)

In [165]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.06766]

     epochs  batch  nodos  layer  learning rate       mse      rmse
122      75    128     16      4          0.002  0.044216  0.067396
123      75    128     16      8          0.002  0.044378  0.067653
126      75    128     32      4          0.002  0.044789  0.067276
127      75    128     32      8          0.002  0.042637  0.067534
129      75    128     64      2          0.002  0.044377  0.067648
130      75    128     64      4          0.002  0.044700  0.066932
131      75    128     64      8          0.002  0.044411  0.066760
131      75    128     64      8          0.001  0.043715  0.067520

In [166]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.06766]

In [167]:
tabla1.to_excel("transformed_data/tablas/model5570multi-6-0-1-TRPW-sep-rmse_GRU_min.xlsx")

In [168]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0405213572084903, 0.0741646811366081)

In [170]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.14]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.025230  0.150649
12      10    128     16      1         0.0005  0.025522  0.140062
24      10    256     16      1         0.0005  0.026540  0.165598
25      10    256     16      2         0.0005  0.025105  0.163183
26      10    256     16      4         0.0005  0.025451  0.142577
27      10    256     16      8         0.0005  0.025177  0.153201
28      10    256     32      1         0.0005  0.025098  0.158943

In [171]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.14]

In [172]:
tabla2.to_excel("transformed_data/tablas/model5570multi-6-0-1-TRPW-sep-rmse_GRU_max.xlsx")

In [173]:
singleModel5570TRPWMse['rmse'].mean()

0.07522111878626872