In [1]:
import pandas as pd

# Comparacion de datos 24-0-6

## Datos LSTM Model 5570 24-0-6

In [2]:
#OK
singleModel5570Acc = pd.DataFrame({})
singleModel5570Mse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneAcc = pd.read_csv('transformed_data/model5570-24-0-6-acc_LSTM_'+str(index).zfill(1) +'.csv')
    singleModel5570OneMse = pd.read_csv('transformed_data/model5570-24-0-6-mse_LSTM_'+str(index).zfill(1) +'.csv')
    singleModel5570Acc = singleModel5570Acc.append(singleModel5570OneAcc)
    singleModel5570Mse = singleModel5570Mse.append(singleModel5570OneMse)

singleModel5570Mse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.040374  0.090442
1           1      10     64     16      2          0.002  0.040218  0.093234
2           2      10     64     16      4          0.002  0.038687  0.094140
3           3      10     64     16      8          0.002  0.038090  0.098265
4           4      10     64     32      1          0.002  0.040046  0.091423

In [3]:
singleModel5570Acc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.007315,0.062673
1,1,10,64,16,2,0.0020,0.007583,0.063214
2,2,10,64,16,4,0.0020,0.007596,0.065033
3,3,10,64,16,8,0.0020,0.008092,0.066035
4,4,10,64,32,1,0.0020,0.007447,0.063127
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.007586,0.065985
176,176,100,256,64,1,0.0005,0.006898,0.061264
177,177,100,256,64,2,0.0005,0.007300,0.064876
178,178,100,256,64,4,0.0005,0.007261,0.064774
179,179,100,256,64,8,0.0005,0.006903,0.062490

In [4]:
singleModel5570Mse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [5]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570Acc = singleModel5570Acc[features_acc]

In [6]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570Mse = singleModel5570Mse[features_mse]

In [7]:
singleModel5570Mse.to_csv('transformed_data/memory_data/model5570-24-0-6-rmse_LSTM.csv', encoding='utf-8')

In [8]:
idxMse = pd.MultiIndex.from_frame (singleModel5570Mse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570Acc)

In [9]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0403739884495735,  0.090441808104515),
            ( 10,  64, 16, 2,  0.002, 0.0402180589735507, 0.0932341292500495),
            ( 10,  64, 16, 4,  0.002, 0.0386872887611389, 0.0941404402256012),
            ( 10,  64, 16, 8,  0.002, 0.0380898229777812, 0.0982648357748985),
            ( 10,  64, 32, 1,  0.002, 0.0400462858378887, 0.0914232730865478),
            ( 10,  64, 32, 2,  0.002, 0.0405587591230869,  0.089570939540863),
            ( 10,  64, 32, 4,  0.002, 0.0400826819241046, 0.0915707722306251),
            ( 10,  64, 32, 8,  0.002, 0.0392597466707229, 0.0918539464473724),
            ( 10,  64, 64, 1,  0.002,  0.040928766131401, 0.0902033671736717),
            ( 10,  64, 64, 2,  0.002, 0.0409428738057613, 0.0863045454025268),
            ...
            (100, 256, 16, 4, 0.0005, 0.0406138785183429, 0.0920901075005531),
            (100, 256, 16, 8, 0.0005, 0.0402920916676521, 0.0976018011569976),
            (100, 256, 32, 1, 0.0005, 0.0411152094602584, 0.0898414552211761),
            (100, 256, 32, 2, 0.0005, 0.0413209833204746, 0.0869619473814964),
            (100, 256, 32, 4, 0.0005,  0.040884856134653, 0.0881847292184829),
            (100, 256, 32, 8, 0.0005, 0.0403842255473136, 0.0967751443386077),
            (100, 256, 64, 1, 0.0005, 0.0414545498788356, 0.0871299877762794),
            (100, 256, 64, 2, 0.0005, 0.0401234067976474, 0.0917450189590454),
            (100, 256, 64, 4, 0.0005, 0.0416185595095157, 0.0920587033033371),
            (100, 256, 64, 8, 0.0005, 0.0390005335211753, 0.0921542048454284)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [10]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0398325882852077, 0.1008713766932487)

In [11]:
singleModel5570Mse[singleModel5570Mse['rmse'] < 0.0817]

     epochs  batch  nodos  layer  learning rate       mse      rmse
42       25     64     32      4          0.002  0.043420  0.081488
47       25     64     64      8          0.002  0.043314  0.080774
81       50     64     64      2          0.002  0.043017  0.080835
82       50     64     64      4          0.002  0.043280  0.081221
162     100    128     32      4          0.002  0.043540  0.081498
78       50     64     32      4          0.001  0.042414  0.081544
82       50     64     64      4          0.001  0.041820  0.080510
147     100     64     16      8          0.001  0.043628  0.080720

In [12]:
tabla1 = singleModel5570Mse[singleModel5570Mse['rmse'] < 0.0817]

In [13]:
tabla1.to_excel("transformed_data/tablas/model5570-24-0-6-rmse_LSTM_min.xlsx")

In [14]:
singleModel5570Mse[singleModel5570Mse['rmse'] < 0.081]

     epochs  batch  nodos  layer  learning rate       mse      rmse
47       25     64     64      8          0.002  0.043314  0.080774
81       50     64     64      2          0.002  0.043017  0.080835
82       50     64     64      4          0.001  0.041820  0.080510
147     100     64     16      8          0.001  0.043628  0.080720

In [15]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0440693274140358, 0.0867348462343216)

In [16]:
singleModel5570Mse[singleModel5570Mse['rmse'] > 0.16005]

    epochs  batch  nodos  layer  learning rate       mse      rmse
15      10    128     16      8         0.0020  0.025740  0.160437
15      10    128     16      8         0.0010  0.025740  0.160435
31      10    256     32      8         0.0010  0.025895  0.160514
15      10    128     16      8         0.0005  0.025609  0.160061
24      10    256     16      1         0.0005  0.025701  0.167476
25      10    256     16      2         0.0005  0.025612  0.162632
26      10    256     16      4         0.0005  0.025501  0.160070

In [17]:
tabla2 = singleModel5570Mse[singleModel5570Mse['rmse'] > 0.16005]

In [18]:
tabla2.to_excel("transformed_data/tablas/model5570-24-0-6-rmse_LSTM_max.xlsx")

In [19]:
singleModel5570Mse['rmse'].mean()

0.09482266101296297

## Datos LSTM Model 5570 - GRU 24-0-6

In [20]:
#OK
singleModel5570AccGRU = pd.DataFrame({})
singleModel5570MseGRU = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneAccGRU = pd.read_csv('transformed_data/model5570-24-0-6-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570OneMseGRU = pd.read_csv('transformed_data/model5570-24-0-6-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570AccGRU = singleModel5570AccGRU.append(singleModel5570OneAccGRU)
    singleModel5570MseGRU = singleModel5570MseGRU.append(singleModel5570OneMseGRU)

singleModel5570MseGRU.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.041039  0.086840
1           1      10     64     16      2          0.002  0.041467  0.085595
2           2      10     64     16      4          0.002  0.042400  0.084063
3           3      10     64     16      8          0.002  0.043186  0.083115
4           4      10     64     32      1          0.002  0.040651  0.087526

In [21]:
singleModel5570AccGRU

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.006911,0.061049
1,1,10,64,16,2,0.0020,0.006767,0.060227
2,2,10,64,16,4,0.0020,0.006695,0.058226
3,3,10,64,16,8,0.0020,0.006389,0.057324
4,4,10,64,32,1,0.0020,0.007016,0.061446
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.005991,0.056472
176,176,100,256,64,1,0.0005,0.007078,0.061619
177,177,100,256,64,2,0.0005,0.006514,0.058522
178,178,100,256,64,4,0.0005,0.005829,0.055286
179,179,100,256,64,8,0.0005,0.005771,0.055224

In [22]:
singleModel5570AccGRU.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'keras_loss_model',
 'keras_model_acc']

In [23]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570AccGRU = singleModel5570AccGRU[features_acc]

In [24]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570MseGRU = singleModel5570MseGRU[features_mse]

In [25]:
singleModel5570MseGRU.to_csv('transformed_data/memory_data/model5570-24-0-6-mse_GRU.csv', encoding='utf-8')

In [26]:
idxMseGRU = pd.MultiIndex.from_frame (singleModel5570MseGRU)
idxAccGRU = pd.MultiIndex.from_frame (singleModel5570AccGRU)

In [27]:
idxMseGRU

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0410391166806221,  0.086839735507965),
            ( 10,  64, 16, 2,  0.002,  0.041467435657978, 0.0855948403477668),
            ( 10,  64, 16, 4,  0.002, 0.0424001514911651, 0.0840633139014244),
            ( 10,  64, 16, 8,  0.002, 0.0431859046220779, 0.0831148847937583),
            ( 10,  64, 32, 1,  0.002,  0.040651261806488, 0.0875261574983596),
            ( 10,  64, 32, 2,  0.002, 0.0422508642077446, 0.0847149938344955),
            ( 10,  64, 32, 4,  0.002, 0.0428151041269302, 0.0828047096729278),
            ( 10,  64, 32, 8,  0.002, 0.0417452938854694, 0.0832377895712852),
            ( 10,  64, 64, 1,  0.002, 0.0414067469537258, 0.0874236598610878),
            ( 10,  64, 64, 2,  0.002, 0.0411914363503456, 0.0838585868477821),
            ...
            (100, 256, 16, 4, 0.0005, 0.0426094643771648, 0.0834636017680168),
            (100, 256, 16, 8, 0.0005, 0.0420632399618625, 0.0833271145820617),
            (100, 256, 32, 1, 0.0005, 0.0423284731805324, 0.0879933983087539),
            (100, 256, 32, 2, 0.0005, 0.0427548103034496, 0.0843821987509727),
            (100, 256, 32, 4, 0.0005,  0.043461475521326, 0.0823858454823494),
            (100, 256, 32, 8, 0.0005, 0.0437846444547176, 0.0833595767617225),
            (100, 256, 64, 1, 0.0005, 0.0424703173339366, 0.0873364508152008),
            (100, 256, 64, 2, 0.0005, 0.0427946597337722, 0.0839613005518913),
            (100, 256, 64, 4, 0.0005, 0.0425095073878765, 0.0842200592160224),
            (100, 256, 64, 8, 0.0005, 0.0433190464973449, 0.0830601304769516)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [28]:
idxMseGRU.min()

(10, 64, 16, 1, 0.0005, 0.0345223359763622, 0.1146885305643081)

In [29]:
singleModel5570MseGRU[singleModel5570MseGRU['rmse'] < 0.082]

     epochs  batch  nodos  layer  learning rate       mse      rmse
10       10     64     64      4         0.0020  0.043158  0.081905
38       25     64     16      4         0.0020  0.043498  0.081985
41       25     64     32      2         0.0020  0.044802  0.081642
59       25    128     64      8         0.0020  0.045503  0.081812
135      75    256     16      8         0.0020  0.043909  0.081832
143      75    256     64      8         0.0020  0.044594  0.081879
43       25     64     32      8         0.0010  0.043858  0.081755
151     100     64     32      8         0.0005  0.044384  0.081280

In [30]:
tabla1 = singleModel5570MseGRU[singleModel5570MseGRU['rmse'] < 0.082]

In [31]:
tabla1.to_excel("transformed_data/tablas/model5570-24-0-6-rmse_GRU_min.xlsx")

In [32]:
idxMseGRU.max()

(100, 256, 64, 8, 0.002, 0.0452664829790592, 0.0953695774078369)

In [33]:
singleModel5570MseGRU[singleModel5570MseGRU['rmse'] > 0.143]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.025489  0.155582
12      10    128     16      1         0.0005  0.026015  0.144127
24      10    256     16      1         0.0005  0.026157  0.169127
25      10    256     16      2         0.0005  0.025449  0.158451
26      10    256     16      4         0.0005  0.025452  0.157832
27      10    256     16      8         0.0005  0.025496  0.158767
28      10    256     32      1         0.0005  0.025509  0.164605

In [34]:
tabla2 = singleModel5570MseGRU[singleModel5570MseGRU['rmse'] > 0.143]

In [35]:
tabla2.to_excel("transformed_data/tablas/model5570-24-0-6-rmse_GRU_max.xlsx")

In [36]:
singleModel5570MseGRU['rmse'].mean()

0.08935529552400107

## Datos LSTM TRPW Model 5570 (no separarados) 24-0-6

In [37]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-24-0-6-TRPW-acc_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-24-0-6-TRPW-mse_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.040007  0.094420
1           1      10     64     16      2          0.002  0.041141  0.088252
2           2      10     64     16      4          0.002  0.040209  0.090407
3           3      10     64     16      8          0.002  0.037465  0.098918
4           4      10     64     32      1          0.002  0.040901  0.089697

In [38]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.007796,0.064244
1,1,10,64,16,2,0.0020,0.007042,0.061184
2,2,10,64,16,4,0.0020,0.007296,0.061879
3,3,10,64,16,8,0.0020,0.008129,0.067594
4,4,10,64,32,1,0.0020,0.007331,0.062450
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.008505,0.070685
176,176,100,256,64,1,0.0005,0.007014,0.061383
177,177,100,256,64,2,0.0005,0.007322,0.065726
178,178,100,256,64,4,0.0005,0.006907,0.062507
179,179,100,256,64,8,0.0005,0.006146,0.057111

In [39]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [40]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc[features_acc]

,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,10,64,16,1,0.0020,0.007796,0.064244
1,10,64,16,2,0.0020,0.007042,0.061184
2,10,64,16,4,0.0020,0.007296,0.061879
3,10,64,16,8,0.0020,0.008129,0.067594
4,10,64,32,1,0.0020,0.007331,0.062450
...,...,...,...,...,...,...,...
175,100,256,32,8,0.0005,0.008505,0.070685
176,100,256,64,1,0.0005,0.007014,0.061383
177,100,256,64,2,0.0005,0.007322,0.065726
178,100,256,64,4,0.0005,0.006907,0.062507
179,100,256,64,8,0.0005,0.006146,0.057111

In [41]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse[features_mse]

     epochs  batch  nodos  layer  learning rate       mse      rmse
0        10     64     16      1         0.0020  0.040007  0.094420
1        10     64     16      2         0.0020  0.041141  0.088252
2        10     64     16      4         0.0020  0.040209  0.090407
3        10     64     16      8         0.0020  0.037465  0.098918
4        10     64     32      1         0.0020  0.040901  0.089697
..      ...    ...    ...    ...            ...       ...       ...
175     100    256     32      8         0.0005  0.041401  0.103381
176     100    256     64      1         0.0005  0.042180  0.087550
177     100    256     64      2         0.0005  0.040878  0.091156
178     100    256     64      4         0.0005  0.042266  0.089484
179     100    256     64      8         0.0005  0.040788  0.087459

[540 rows x 7 columns]

In [42]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-24-0-6-TRPW-mse_LSTM.csv', encoding='utf-8')

In [43]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [44]:
idxMse

MultiIndex([(  0,  10,  64, 16, 1,  0.002,  0.040007334202528, ...),
            (  1,  10,  64, 16, 2,  0.002, 0.0411412976682186, ...),
            (  2,  10,  64, 16, 4,  0.002, 0.0402086339890956, ...),
            (  3,  10,  64, 16, 8,  0.002, 0.0374653749167919, ...),
            (  4,  10,  64, 32, 1,  0.002, 0.0409013479948043, ...),
            (  5,  10,  64, 32, 2,  0.002, 0.0396461933851242, ...),
            (  6,  10,  64, 32, 4,  0.002,  0.040928728878498, ...),
            (  7,  10,  64, 32, 8,  0.002, 0.0394649058580398, ...),
            (  8,  10,  64, 64, 1,  0.002, 0.0397060476243495, ...),
            (  9,  10,  64, 64, 2,  0.002, 0.0404696203768253, ...),
            ...
            (170, 100, 256, 16, 4, 0.0005, 0.0406078398227691, ...),
            (171, 100, 256, 16, 8, 0.0005, 0.0395690910518169, ...),
            (172, 100, 256, 32, 1, 0.0005, 0.0413871295750141, ...),
            (173, 100, 256, 32, 2, 0.0005, 0.0409919284284114, ...),
            (174, 100, 256, 32, 4, 0.0005, 0.0417617335915565, ...),
            (175, 100, 256, 32, 8, 0.0005, 0.0414005778729915, ...),
            (176, 100, 256, 64, 1, 0.0005, 0.0421802662312984, ...),
            (177, 100, 256, 64, 2, 0.0005, 0.0408777333796024, ...),
            (178, 100, 256, 64, 4, 0.0005,  0.042265985161066, ...),
            (179, 100, 256, 64, 8, 0.0005, 0.0407879762351512, ...)],
           names=['Unnamed: 0', 'epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [45]:
idxMse.min()

(0, 10, 64, 16, 1, 0.0005, 0.0374206863343715, 0.1064127087593078)

In [46]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.0818]

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
74,74,50,64,16,4,0.002,0.041868,0.081572
75,75,50,64,16,8,0.002,0.042412,0.081620
77,77,50,64,32,2,0.002,0.041800,0.081475
78,78,50,64,32,4,0.002,0.041505,0.081751
165,165,100,128,64,2,0.002,0.044439,0.081171
78,78,50,64,32,4,0.001,0.043402,0.081210
82,82,50,64,64,4,0.001,0.042481,0.081579
130,130,75,128,64,4,0.001,0.042369,0.081701

In [47]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.0818]

In [48]:
tabla1.to_excel("transformed_data/tablas/model5570multi-24-0-6-TRPW-rmse_LSTM_min.xlsx")

In [49]:
idxMse.max()

(179, 100, 256, 64, 8, 0.002, 0.0414558835327625, 0.0903745740652084)

In [50]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.15995]

    Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
11          11      10     64     64      8         0.0020  0.026431  0.161482
15          15      10    128     16      8         0.0020  0.025719  0.160363
35          35      10    256     64      8         0.0020  0.026574  0.160553
15          15      10    128     16      8         0.0010  0.025738  0.160262
15          15      10    128     16      8         0.0005  0.025718  0.160013
24          24      10    256     16      1         0.0005  0.025618  0.160913
63          63      25    256     16      8         0.0005  0.025598  0.159981

In [51]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.15995]

In [52]:
tabla2.to_excel("transformed_data/tablas/model5570multi-24-0-6-TRPW-rmse_LSTM_max.xlsx")

In [53]:
singleModel5570TRPWMse['rmse'].mean()

0.09497533319173031

## Datos LSTM TRPW Model 5570 (separarados) 24-0-6

In [54]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-24-0-6-TRPW-sep-acc_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-24-0-6-TRPW-sep-mse_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.040347  0.089422
1           1      10     64     16      2          0.002  0.040763  0.091251
2           2      10     64     16      4          0.002  0.039809  0.090195
3           3      10     64     16      8          0.002  0.026086  0.159929
4           4      10     64     32      1          0.002  0.040960  0.090238

In [55]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.007203,0.062674
1,1,10,64,16,2,0.0020,0.007418,0.062542
2,2,10,64,16,4,0.0020,0.007289,0.062627
3,3,10,64,16,8,0.0020,0.021222,0.121121
4,4,10,64,32,1,0.0020,0.007384,0.062778
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.007627,0.066392
176,176,100,256,64,1,0.0005,0.006916,0.061722
177,177,100,256,64,2,0.0005,0.007049,0.063453
178,178,100,256,64,4,0.0005,0.007152,0.063906
179,179,100,256,64,8,0.0005,0.006823,0.061728

In [56]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [57]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc[features_acc]

,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,10,64,16,1,0.0020,0.007203,0.062674
1,10,64,16,2,0.0020,0.007418,0.062542
2,10,64,16,4,0.0020,0.007289,0.062627
3,10,64,16,8,0.0020,0.021222,0.121121
4,10,64,32,1,0.0020,0.007384,0.062778
...,...,...,...,...,...,...,...
175,100,256,32,8,0.0005,0.007627,0.066392
176,100,256,64,1,0.0005,0.006916,0.061722
177,100,256,64,2,0.0005,0.007049,0.063453
178,100,256,64,4,0.0005,0.007152,0.063906
179,100,256,64,8,0.0005,0.006823,0.061728

In [58]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse[features_mse]

     epochs  batch  nodos  layer  learning rate       mse      rmse
0        10     64     16      1         0.0020  0.040347  0.089422
1        10     64     16      2         0.0020  0.040763  0.091251
2        10     64     16      4         0.0020  0.039809  0.090195
3        10     64     16      8         0.0020  0.026086  0.159929
4        10     64     32      1         0.0020  0.040960  0.090238
..      ...    ...    ...    ...            ...       ...       ...
175     100    256     32      8         0.0005  0.039503  0.096055
176     100    256     64      1         0.0005  0.041219  0.087749
177     100    256     64      2         0.0005  0.040174  0.090334
178     100    256     64      4         0.0005  0.041261  0.090932
179     100    256     64      8         0.0005  0.039782  0.091324

[540 rows x 7 columns]

In [59]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-24-0-6-TRPW-sep-mse_LSTM.csv', encoding='utf-8')

In [60]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [61]:
idxMse

MultiIndex([(  0,  10,  64, 16, 1,  0.002, 0.0403466485440731, ...),
            (  1,  10,  64, 16, 2,  0.002, 0.0407632738351821, ...),
            (  2,  10,  64, 16, 4,  0.002,  0.039808664470911, ...),
            (  3,  10,  64, 16, 8,  0.002, 0.0260860994458198, ...),
            (  4,  10,  64, 32, 1,  0.002, 0.0409602336585521, ...),
            (  5,  10,  64, 32, 2,  0.002,  0.040706817060709, ...),
            (  6,  10,  64, 32, 4,  0.002, 0.0405730083584785, ...),
            (  7,  10,  64, 32, 8,  0.002, 0.0396979488432407, ...),
            (  8,  10,  64, 64, 1,  0.002,  0.040016796439886, ...),
            (  9,  10,  64, 64, 2,  0.002, 0.0410998538136482, ...),
            ...
            (170, 100, 256, 16, 4, 0.0005, 0.0406329706311225, ...),
            (171, 100, 256, 16, 8, 0.0005, 0.0400360226631164, ...),
            (172, 100, 256, 32, 1, 0.0005,  0.041749894618988, ...),
            (173, 100, 256, 32, 2, 0.0005, 0.0412855111062526, ...),
            (174, 100, 256, 32, 4, 0.0005, 0.0414049476385116, ...),
            (175, 100, 256, 32, 8, 0.0005, 0.0395028963685035, ...),
            (176, 100, 256, 64, 1, 0.0005,  0.041219063103199, ...),
            (177, 100, 256, 64, 2, 0.0005, 0.0401741228997707, ...),
            (178, 100, 256, 64, 4, 0.0005, 0.0412611477077007, ...),
            (179, 100, 256, 64, 8, 0.0005, 0.0397823862731456, ...)],
           names=['Unnamed: 0', 'epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [62]:
idxMse.min()

(0, 10, 64, 16, 1, 0.0005, 0.0391707457602024, 0.0972808673977851)

In [63]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.0818]

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
45,45,25,64,64,2,0.002,0.042797,0.081739
74,74,50,64,16,4,0.002,0.042321,0.081638
77,77,50,64,32,2,0.002,0.041703,0.081648
78,78,50,64,32,4,0.002,0.043557,0.080603
81,81,50,64,64,2,0.002,0.042425,0.081336
177,177,100,256,64,2,0.002,0.042799,0.081557
82,82,50,64,64,4,0.001,0.041873,0.081279
83,83,50,64,64,8,0.001,0.042382,0.081287

In [64]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.0818]

In [65]:
tabla1.to_excel("transformed_data/tablas/model5570multi-24-0-6-TRPW-sep-rmse_LSTM_min.xlsx")

In [66]:
idxMse.max()

(179, 100, 256, 64, 8, 0.002, 0.0434236042201519, 0.0891268774867057)

In [67]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.1599]

    Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
3            3      10     64     16      8         0.0020  0.026086  0.159929
31          31      10    256     32      8         0.0020  0.025680  0.160240
15          15      10    128     16      8         0.0010  0.025709  0.160043
15          15      10    128     16      8         0.0005  0.025734  0.160212
24          24      10    256     16      1         0.0005  0.026048  0.169770
31          31      10    256     32      8         0.0005  0.025591  0.159958
35          35      10    256     64      8         0.0005  0.025968  0.160294

In [68]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.1599]

In [69]:
tabla2.to_excel("transformed_data/tablas/model5570multi-24-0-6-TRPW-sep-rmse_LSTM_max.xlsx")

In [70]:
singleModel5570TRPWMse['rmse'].mean()

0.0948320585130541

## Datos GRU TRPW Model 5570 (no separarados) 24-0-6

In [71]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-24-0-6-TRPW-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-24-0-6-TRPW-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.040901  0.092689
1           1      10     64     16      2          0.002  0.041994  0.085738
2           2      10     64     16      4          0.002  0.042145  0.084029
3           3      10     64     16      8          0.002  0.043845  0.084524
4           4      10     64     32      1          0.002  0.040167  0.088794

In [72]:
singleModel5570TRPWMse

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
0,0,10,64,16,1,0.0020,0.040901,0.092689
1,1,10,64,16,2,0.0020,0.041994,0.085738
2,2,10,64,16,4,0.0020,0.042145,0.084029
3,3,10,64,16,8,0.0020,0.043845,0.084524
4,4,10,64,32,1,0.0020,0.040167,0.088794
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.043574,0.083287
176,176,100,256,64,1,0.0005,0.042472,0.086146
177,177,100,256,64,2,0.0005,0.042757,0.084074
178,178,100,256,64,4,0.0005,0.042372,0.083764
179,179,100,256,64,8,0.0005,0.042909,0.083179

In [73]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.008146,0.067367
1,1,10,64,16,2,0.0020,0.006734,0.059778
2,2,10,64,16,4,0.0020,0.006546,0.057867
3,3,10,64,16,8,0.0020,0.006572,0.058965
4,4,10,64,32,1,0.0020,0.007198,0.063062
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.005930,0.056041
176,176,100,256,64,1,0.0005,0.006930,0.060792
177,177,100,256,64,2,0.0005,0.006507,0.058339
178,178,100,256,64,4,0.0005,0.005858,0.055264
179,179,100,256,64,8,0.0005,0.005654,0.054587

In [74]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [75]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc = singleModel5570TRPWAcc[features_acc]

In [76]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse = singleModel5570TRPWMse[features_mse]

In [77]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-24-0-6-TRPW-mse_GRU.csv', encoding='utf-8')

In [78]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [79]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0409014746546745, 0.0926888734102249),
            ( 10,  64, 16, 2,  0.002, 0.0419940464198589, 0.0857375785708427),
            ( 10,  64, 16, 4,  0.002, 0.0421449840068817, 0.0840286314487457),
            ( 10,  64, 16, 8,  0.002, 0.0438445806503295, 0.0845239758491516),
            ( 10,  64, 32, 1,  0.002, 0.0401672944426536, 0.0887944921851158),
            ( 10,  64, 32, 2,  0.002, 0.0424643494188785, 0.0840199142694473),
            ( 10,  64, 32, 4,  0.002, 0.0427885875105857, 0.0823871567845344),
            ( 10,  64, 32, 8,  0.002, 0.0418003015220165, 0.0830843225121498),
            ( 10,  64, 64, 1,  0.002, 0.0415782816708087, 0.0868215337395668),
            ( 10,  64, 64, 2,  0.002, 0.0407161116600036, 0.0843884795904159),
            ...
            (100, 256, 16, 4, 0.0005, 0.0420169234275817, 0.0838093534111976),
            (100, 256, 16, 8, 0.0005, 0.0424096509814262,  0.083099827170372),
            (100, 256, 32, 1, 0.0005,  0.042123194783926,  0.086723007261753),
            (100, 256, 32, 2, 0.0005, 0.0426019541919231, 0.0843194052577018),
            (100, 256, 32, 4, 0.0005, 0.0432998202741146, 0.0828097686171531),
            (100, 256, 32, 8, 0.0005, 0.0435736253857612,  0.083286702632904),
            (100, 256, 64, 1, 0.0005,  0.042471807450056, 0.0861455053091049),
            (100, 256, 64, 2, 0.0005, 0.0427568666636943, 0.0840736180543899),
            (100, 256, 64, 4, 0.0005, 0.0423717238008976, 0.0837639346718788),
            (100, 256, 64, 8, 0.0005, 0.0429090559482574, 0.0831788629293441)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [80]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0340211689472198, 0.1173883602023124)

In [81]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08205]

     epochs  batch  nodos  layer  learning rate       mse      rmse
39       25     64     16      8         0.0020  0.043954  0.081818
99       50    256     16      8         0.0020  0.043504  0.081936
135      75    256     16      8         0.0020  0.043381  0.081904
46       25     64     64      4         0.0010  0.044318  0.082008
82       50     64     64      4         0.0010  0.042892  0.082048
131      75    128     64      8         0.0010  0.043167  0.081290
139      75    256     32      8         0.0010  0.044415  0.081289
143      75    256     64      8         0.0005  0.043767  0.081653

In [82]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08205]

In [83]:
tabla1.to_excel("transformed_data/tablas/model5570multi-24-0-6-TRPW-rmse_GRU_min.xlsx")

In [84]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0426414608955383, 0.0986775681376457)

In [85]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.148]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.025496  0.156766
12      10    128     16      1         0.0005  0.025658  0.153248
24      10    256     16      1         0.0005  0.025845  0.172217
25      10    256     16      2         0.0005  0.025450  0.161433
26      10    256     16      4         0.0005  0.025660  0.150057
27      10    256     16      8         0.0005  0.026169  0.148129
28      10    256     32      1         0.0005  0.025504  0.159508

In [86]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.148]

In [87]:
tabla2.to_excel("transformed_data/tablas/model5570multi-24-0-6-TRPW-rmse_GRU_max.xlsx")

In [88]:
singleModel5570TRPWMse['rmse'].mean()

0.0894084518982304

## Datos GRU TRPW Model 5570 (separarados) 24-0-6

In [89]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-24-0-6-TRPW-sep-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-24-0-6-TRPW-sep-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.041186  0.086972
1           1      10     64     16      2          0.002  0.042368  0.084594
2           2      10     64     16      4          0.002  0.041887  0.084094
3           3      10     64     16      8          0.002  0.042286  0.083829
4           4      10     64     32      1          0.002  0.039823  0.089087

In [90]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.007104,0.062156
1,1,10,64,16,2,0.0020,0.006844,0.059443
2,2,10,64,16,4,0.0020,0.006620,0.058173
3,3,10,64,16,8,0.0020,0.006360,0.056865
4,4,10,64,32,1,0.0020,0.007240,0.062762
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.005968,0.056013
176,176,100,256,64,1,0.0005,0.006970,0.060980
177,177,100,256,64,2,0.0005,0.006555,0.058486
178,178,100,256,64,4,0.0005,0.005891,0.055583
179,179,100,256,64,8,0.0005,0.005717,0.055082

In [91]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [92]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc = singleModel5570TRPWAcc[features_acc]

In [93]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse = singleModel5570TRPWMse[features_mse]

In [94]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-24-0-6-TRPW-sep-mse_GRU.csv', encoding='utf-8')

In [95]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [96]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0411856174468994, 0.0869722217321395),
            ( 10,  64, 16, 2,  0.002, 0.0423676185309886, 0.0845936015248298),
            ( 10,  64, 16, 4,  0.002, 0.0418868102133274, 0.0840940102934837),
            ( 10,  64, 16, 8,  0.002, 0.0422862023115158, 0.0838292986154556),
            ( 10,  64, 32, 1,  0.002, 0.0398230552673339, 0.0890867784619331),
            ( 10,  64, 32, 2,  0.002, 0.0417640581727027, 0.0845062583684921),
            ( 10,  64, 32, 4,  0.002, 0.0423287078738212, 0.0825012773275375),
            ( 10,  64, 32, 8,  0.002, 0.0428569018840789,  0.082671970129013),
            ( 10,  64, 64, 1,  0.002, 0.0411736480891704, 0.0874818786978721),
            ( 10,  64, 64, 2,  0.002, 0.0422145202755928, 0.0840875133872032),
            ...
            (100, 256, 16, 4, 0.0005, 0.0423731319606304, 0.0835560485720634),
            (100, 256, 16, 8, 0.0005, 0.0429051704704761, 0.0822579786181449),
            (100, 256, 32, 1, 0.0005, 0.0424239225685596, 0.0874769762158393),
            (100, 256, 32, 2, 0.0005, 0.0427229702472686, 0.0845142751932144),
            (100, 256, 32, 4, 0.0005, 0.0434492863714695, 0.0820902809500694),
            (100, 256, 32, 8, 0.0005,  0.043514784425497, 0.0830185711383819),
            (100, 256, 64, 1, 0.0005, 0.0424607954919338, 0.0866674184799194),
            (100, 256, 64, 2, 0.0005, 0.0434259176254272, 0.0839237198233604),
            (100, 256, 64, 4, 0.0005, 0.0431684702634811,  0.083628624677658),
            (100, 256, 64, 8, 0.0005, 0.0423581041395664, 0.0834468305110931)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [97]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0340934693813324, 0.1163471266627311)

In [98]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08188]

     epochs  batch  nodos  layer  learning rate       mse      rmse
45       25     64     64      2         0.0020  0.044526  0.081626
99       50    256     16      8         0.0020  0.043750  0.081562
134      75    256     16      4         0.0020  0.043237  0.081792
135      75    256     16      8         0.0020  0.043545  0.081372
39       25     64     16      8         0.0010  0.042860  0.081720
139      75    256     32      8         0.0010  0.044241  0.081855
119      75     64     64      8         0.0005  0.044009  0.081693
143      75    256     64      8         0.0005  0.044493  0.081245

In [99]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08188]

In [100]:
tabla1.to_excel("transformed_data/tablas/model5570multi-24-0-6-TRPW-sep-rmse_GRU_min.xlsx")

In [101]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0453980974853038, 0.0892476662993431)

In [102]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.144]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.025516  0.152990
12      10    128     16      1         0.0005  0.025877  0.145282
24      10    256     16      1         0.0005  0.026895  0.167770
25      10    256     16      2         0.0005  0.025508  0.165167
26      10    256     16      4         0.0005  0.025577  0.152080
27      10    256     16      8         0.0005  0.025476  0.158720
28      10    256     32      1         0.0005  0.025466  0.161305

In [103]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.144]

In [104]:
tabla2.to_excel("transformed_data/tablas/model5570multi-24-0-6-TRPW-sep-rmse_GRU_max.xlsx")

In [105]:
singleModel5570TRPWMse['rmse'].mean()

0.08946428370696523