In [155]:
import pandas as pd

# Comparacion de datos 12-0-6

## Datos LSTM Model 5570 12-0-6

In [156]:
#OK
singleModel5570Acc = pd.DataFrame({})
singleModel5570Mse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneAcc = pd.read_csv('transformed_data/model5570-12-0-6-acc_LSTM_'+str(index).zfill(1) +'.csv')
    singleModel5570OneMse = pd.read_csv('transformed_data/model5570-12-0-6-mse_LSTM_'+str(index).zfill(1) +'.csv')
    singleModel5570Acc = singleModel5570Acc.append(singleModel5570OneAcc)
    singleModel5570Mse = singleModel5570Mse.append(singleModel5570OneMse)

singleModel5570Mse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.039755  0.092341
1           1      10     64     16      2          0.002  0.038798  0.093266
2           2      10     64     16      4          0.002  0.040318  0.091760
3           3      10     64     16      8          0.002  0.037880  0.100159
4           4      10     64     32      1          0.002  0.039417  0.092344

In [157]:
singleModel5570Acc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.008225,0.068866
1,1,10,64,16,2,0.0020,0.008133,0.066971
2,2,10,64,16,4,0.0020,0.008057,0.065145
3,3,10,64,16,8,0.0020,0.009182,0.071359
4,4,10,64,32,1,0.0020,0.008250,0.069379
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.007827,0.066394
176,176,100,256,64,1,0.0005,0.008084,0.068426
177,177,100,256,64,2,0.0005,0.007566,0.065220
178,178,100,256,64,4,0.0005,0.007665,0.066114
179,179,100,256,64,8,0.0005,0.007296,0.060794

In [158]:
singleModel5570Mse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [159]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570Acc = singleModel5570Acc[features_acc]

In [160]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570Mse = singleModel5570Mse[features_mse]

In [161]:
singleModel5570Mse.to_csv('transformed_data/memory_data/model5570-12-0-6-rmse_LSTM.csv', encoding='utf-8')

In [162]:
idxMse = pd.MultiIndex.from_frame (singleModel5570Mse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570Acc)

In [163]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0397552177309989, 0.0923406407237052),
            ( 10,  64, 16, 2,  0.002, 0.0387977994978427, 0.0932660698890686),
            ( 10,  64, 16, 4,  0.002, 0.0403176695108413, 0.0917595326900482),
            ( 10,  64, 16, 8,  0.002,  0.037879753857851, 0.1001593396067619),
            ( 10,  64, 32, 1,  0.002, 0.0394167341291904, 0.0923443362116813),
            ( 10,  64, 32, 2,  0.002, 0.0399012714624404, 0.0891038700938224),
            ( 10,  64, 32, 4,  0.002, 0.0396905951201915, 0.0897700861096382),
            ( 10,  64, 32, 8,  0.002, 0.0420842282474041,  0.100138820707798),
            ( 10,  64, 64, 1,  0.002, 0.0403165370225906, 0.0896151959896087),
            ( 10,  64, 64, 2,  0.002, 0.0405425578355789, 0.0892296656966209),
            ...
            (100, 256, 16, 4, 0.0005, 0.0391781255602836, 0.0930019989609718),
            (100, 256, 16, 8, 0.0005, 0.0383775681257247, 0.0948647260665893),
            (100, 256, 32, 1, 0.0005, 0.0401621498167514, 0.0906290039420127),
            (100, 256, 32, 2, 0.0005, 0.0400100350379943, 0.0899278596043586),
            (100, 256, 32, 4, 0.0005, 0.0395670942962169, 0.0896057859063148),
            (100, 256, 32, 8, 0.0005, 0.0396941900253295, 0.0903290137648582),
            (100, 256, 64, 1, 0.0005, 0.0392248705029487, 0.0911431759595871),
            (100, 256, 64, 2, 0.0005, 0.0403154008090496, 0.0878524705767631),
            (100, 256, 64, 4, 0.0005,  0.040649265050888, 0.0892125070095062),
            (100, 256, 64, 8, 0.0005, 0.0425750166177749, 0.0862971991300582)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [164]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0339093767106533, 0.1178049370646476)

In [165]:
singleModel5570Mse[singleModel5570Mse['rmse'] < 0.08273]

     epochs  batch  nodos  layer  learning rate       mse      rmse
95       50    128     64      8          0.002  0.042559  0.082701
110      75     64     16      4          0.002  0.042628  0.082354
165     100    128     64      2          0.002  0.043657  0.082595
174     100    256     32      4          0.002  0.042070  0.082705
79       50     64     32      8          0.001  0.042051  0.082582
83       50     64     64      8          0.001  0.041769  0.082261
131      75    128     64      8          0.001  0.044121  0.082702
153     100     64     64      2          0.001  0.042464  0.082353

In [166]:
tabla1 = singleModel5570Mse[singleModel5570Mse['rmse'] < 0.08273]

In [167]:
tabla1.to_excel("transformed_data/tablas/model5570-12-0-6-rmse_LSTM_min.xlsx")

In [168]:
singleModel5570Mse[singleModel5570Mse['rmse'] < 0.081]

Empty DataFrame
Columns: [epochs, batch, nodos, layer, learning rate, mse, rmse]
Index: []

In [169]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0442112907767295, 0.0863013938069343)

In [170]:
singleModel5570Mse[singleModel5570Mse['rmse'] > 0.155]

    epochs  batch  nodos  layer  learning rate       mse      rmse
27      10    256     16      8         0.0010  0.025374  0.158162
24      10    256     16      1         0.0005  0.025843  0.173753
25      10    256     16      2         0.0005  0.025506  0.168172
26      10    256     16      4         0.0005  0.025343  0.155965
27      10    256     16      8         0.0005  0.025374  0.159206
28      10    256     32      1         0.0005  0.025409  0.163867
31      10    256     32      8         0.0005  0.025353  0.158143

In [171]:
tabla2 = singleModel5570Mse[singleModel5570Mse['rmse'] > 0.155]

In [172]:
tabla2.to_excel("transformed_data/tablas/model5570-12-0-6-rmse_LSTM_max.xlsx")

In [173]:
singleModel5570Mse['rmse'].mean()

0.09763606543894163

## Datos LSTM Model 5570 - GRU 12-0-6

In [174]:
#OK
singleModel5570AccGRU = pd.DataFrame({})
singleModel5570MseGRU = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneAccGRU = pd.read_csv('transformed_data/model5570-12-0-6-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570OneMseGRU = pd.read_csv('transformed_data/model5570-12-0-6-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570AccGRU = singleModel5570AccGRU.append(singleModel5570OneAccGRU)
    singleModel5570MseGRU = singleModel5570MseGRU.append(singleModel5570OneMseGRU)

singleModel5570MseGRU.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.041052  0.091974
1           1      10     64     16      2          0.002  0.040926  0.088860
2           2      10     64     16      4          0.002  0.041646  0.086209
3           3      10     64     16      8          0.002  0.042297  0.086401
4           4      10     64     32      1          0.002  0.041089  0.088502

In [175]:
singleModel5570AccGRU

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.008433,0.069789
1,1,10,64,16,2,0.0020,0.007718,0.065974
2,2,10,64,16,4,0.0020,0.007301,0.063539
3,3,10,64,16,8,0.0020,0.007195,0.063036
4,4,10,64,32,1,0.0020,0.007878,0.067040
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.006592,0.059833
176,176,100,256,64,1,0.0005,0.007920,0.066985
177,177,100,256,64,2,0.0005,0.007435,0.064632
178,178,100,256,64,4,0.0005,0.006778,0.061584
179,179,100,256,64,8,0.0005,0.006523,0.059907

In [176]:
singleModel5570AccGRU.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'keras_loss_model',
 'keras_model_acc']

In [177]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570AccGRU = singleModel5570AccGRU[features_acc]

In [178]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570MseGRU = singleModel5570MseGRU[features_mse]

In [179]:
singleModel5570MseGRU.to_csv('transformed_data/memory_data/model5570-12-0-6-mse_GRU.csv', encoding='utf-8')

In [180]:
idxMseGRU = pd.MultiIndex.from_frame (singleModel5570MseGRU)
idxAccGRU = pd.MultiIndex.from_frame (singleModel5570AccGRU)

In [181]:
idxMseGRU

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0410524122416973, 0.0919742509722709),
            ( 10,  64, 16, 2,  0.002, 0.0409260429441928, 0.0888602584600448),
            ( 10,  64, 16, 4,  0.002, 0.0416463203728199, 0.0862087458372116),
            ( 10,  64, 16, 8,  0.002, 0.0422967374324798, 0.0864008143544197),
            ( 10,  64, 32, 1,  0.002, 0.0410885959863662, 0.0885022059082984),
            ( 10,  64, 32, 2,  0.002, 0.0416083261370658, 0.0860372185707092),
            ( 10,  64, 32, 4,  0.002,  0.041059210896492, 0.0875863134860992),
            ( 10,  64, 32, 8,  0.002, 0.0411650463938713, 0.0865759775042533),
            ( 10,  64, 64, 1,  0.002, 0.0410168319940567, 0.0890246257185936),
            ( 10,  64, 64, 2,  0.002, 0.0419486537575721, 0.0857238247990608),
            ...
            (100, 256, 16, 4, 0.0005, 0.0414145216345787, 0.0862762182950973),
            (100, 256, 16, 8, 0.0005, 0.0414048507809639, 0.0871104225516319),
            (100, 256, 32, 1, 0.0005, 0.0409061014652252, 0.0905004292726516),
            (100, 256, 32, 2, 0.0005, 0.0410381034016609, 0.0868791043758392),
            (100, 256, 32, 4, 0.0005, 0.0419710464775562,  0.086320586502552),
            (100, 256, 32, 8, 0.0005, 0.0431982390582561, 0.0855602771043777),
            (100, 256, 64, 1, 0.0005, 0.0399977937340736, 0.0896188393235206),
            (100, 256, 64, 2, 0.0005,  0.041044745594263,  0.087224468588829),
            (100, 256, 64, 4, 0.0005, 0.0422464534640312, 0.0864566192030906),
            (100, 256, 64, 8, 0.0005, 0.0425968058407306, 0.0855115726590156)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [182]:
idxMseGRU.min()

(10, 64, 16, 1, 0.0005, 0.0350419208407402, 0.1129982396960258)

In [183]:
singleModel5570MseGRU[singleModel5570MseGRU['rmse'] < 0.08362]

     epochs  batch  nodos  layer  learning rate       mse      rmse
75       50     64     16      8         0.0020  0.043181  0.083297
109      75     64     16      2         0.0020  0.042804  0.083615
125      75    128     32      2         0.0020  0.043014  0.083264
117      75     64     64      2         0.0010  0.043008  0.083581
123      75    128     16      8         0.0010  0.044387  0.083460
165     100    128     64      2         0.0010  0.043132  0.082977
115      75     64     32      8         0.0005  0.042643  0.083612
159     100    128     16      8         0.0005  0.042108  0.082556

In [184]:
tabla1 = singleModel5570MseGRU[singleModel5570MseGRU['rmse'] < 0.08362]

In [185]:
tabla1.to_excel("transformed_data/tablas/model5570-12-0-6-rmse_GRU_min.xlsx")

In [186]:
idxMseGRU.max()

(100, 256, 64, 8, 0.002, 0.0428678467869758, 0.0894718542695045)

In [187]:
singleModel5570MseGRU[singleModel5570MseGRU['rmse'] > 0.143]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.025314  0.154918
12      10    128     16      1         0.0005  0.025716  0.144587
24      10    256     16      1         0.0005  0.026071  0.168839
25      10    256     16      2         0.0005  0.025244  0.158193
26      10    256     16      4         0.0005  0.025305  0.156115
27      10    256     16      8         0.0005  0.025438  0.153289
28      10    256     32      1         0.0005  0.025363  0.164775

In [188]:
tabla2 = singleModel5570MseGRU[singleModel5570MseGRU['rmse'] > 0.143]

In [189]:
tabla2.to_excel("transformed_data/tablas/model5570-12-0-6-rmse_GRU_max.xlsx")

In [190]:
singleModel5570MseGRU['rmse'].mean()

0.09201372050576737

## Datos LSTM TRPW Model 5570 (no separarados) 12-0-6

In [191]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-12-0-6-TRPW-acc_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-12-0-6-TRPW-mse_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.039203  0.091750
1           1      10     64     16      2          0.002  0.039735  0.090133
2           2      10     64     16      4          0.002  0.040111  0.089911
3           3      10     64     16      8          0.002  0.038783  0.102423
4           4      10     64     32      1          0.002  0.039295  0.089915

In [192]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.008066,0.067718
1,1,10,64,16,2,0.0020,0.007904,0.066953
2,2,10,64,16,4,0.0020,0.007799,0.065520
3,3,10,64,16,8,0.0020,0.009791,0.072883
4,4,10,64,32,1,0.0020,0.008010,0.067781
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.008035,0.067757
176,176,100,256,64,1,0.0005,0.007938,0.067416
177,177,100,256,64,2,0.0005,0.007718,0.066119
178,178,100,256,64,4,0.0005,0.007403,0.062806
179,179,100,256,64,8,0.0005,0.007208,0.060407

In [193]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [194]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc[features_acc]

,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,10,64,16,1,0.0020,0.008066,0.067718
1,10,64,16,2,0.0020,0.007904,0.066953
2,10,64,16,4,0.0020,0.007799,0.065520
3,10,64,16,8,0.0020,0.009791,0.072883
4,10,64,32,1,0.0020,0.008010,0.067781
...,...,...,...,...,...,...,...
175,100,256,32,8,0.0005,0.008035,0.067757
176,100,256,64,1,0.0005,0.007938,0.067416
177,100,256,64,2,0.0005,0.007718,0.066119
178,100,256,64,4,0.0005,0.007403,0.062806
179,100,256,64,8,0.0005,0.007208,0.060407

In [195]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse[features_mse]

     epochs  batch  nodos  layer  learning rate       mse      rmse
0        10     64     16      1         0.0020  0.039203  0.091750
1        10     64     16      2         0.0020  0.039735  0.090133
2        10     64     16      4         0.0020  0.040111  0.089911
3        10     64     16      8         0.0020  0.038783  0.102423
4        10     64     32      1         0.0020  0.039295  0.089915
..      ...    ...    ...    ...            ...       ...       ...
175     100    256     32      8         0.0005  0.039554  0.091550
176     100    256     64      1         0.0005  0.039564  0.090021
177     100    256     64      2         0.0005  0.039675  0.089018
178     100    256     64      4         0.0005  0.040609  0.087914
179     100    256     64      8         0.0005  0.042954  0.086086

[540 rows x 7 columns]

In [196]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-12-0-6-TRPW-mse_LSTM.csv', encoding='utf-8')

In [197]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [198]:
idxMse

MultiIndex([(  0,  10,  64, 16, 1,  0.002, 0.0392026789486408, ...),
            (  1,  10,  64, 16, 2,  0.002, 0.0397347435355186, ...),
            (  2,  10,  64, 16, 4,  0.002, 0.0401109047234058, ...),
            (  3,  10,  64, 16, 8,  0.002, 0.0387832857668399, ...),
            (  4,  10,  64, 32, 1,  0.002, 0.0392949096858501, ...),
            (  5,  10,  64, 32, 2,  0.002, 0.0400991328060627, ...),
            (  6,  10,  64, 32, 4,  0.002, 0.0405820459127426, ...),
            (  7,  10,  64, 32, 8,  0.002, 0.0371251478791236, ...),
            (  8,  10,  64, 64, 1,  0.002,  0.039934329688549, ...),
            (  9,  10,  64, 64, 2,  0.002, 0.0409185178577899, ...),
            ...
            (170, 100, 256, 16, 4, 0.0005,  0.039410438388586, ...),
            (171, 100, 256, 16, 8, 0.0005, 0.0393803305923938, ...),
            (172, 100, 256, 32, 1, 0.0005, 0.0401072949171066, ...),
            (173, 100, 256, 32, 2, 0.0005, 0.0401369035243988, ...),
            (174, 100, 256, 32, 4, 0.0005,  0.039213877171278, ...),
            (175, 100, 256, 32, 8, 0.0005, 0.0395542085170745, ...),
            (176, 100, 256, 64, 1, 0.0005,  0.039563700556755, ...),
            (177, 100, 256, 64, 2, 0.0005, 0.0396748296916484, ...),
            (178, 100, 256, 64, 4, 0.0005, 0.0406089387834072, ...),
            (179, 100, 256, 64, 8, 0.0005, 0.0429539047181606, ...)],
           names=['Unnamed: 0', 'epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [199]:
idxMse.min()

(0, 10, 64, 16, 1, 0.0005, 0.033656682819128, 0.1203009784221649)

In [200]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08282]

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
74,74,50,64,16,4,0.002,0.042720,0.081992
78,78,50,64,32,4,0.002,0.043479,0.082805
81,81,50,64,64,2,0.002,0.043388,0.081929
110,110,75,64,16,4,0.002,0.043840,0.081549
113,113,75,64,32,2,0.002,0.043240,0.082142
174,174,100,256,32,4,0.002,0.042064,0.082735
178,178,100,256,64,4,0.002,0.043547,0.082170
150,150,100,64,32,4,0.001,0.042772,0.082629

In [201]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08282]

In [202]:
tabla1.to_excel("transformed_data/tablas/model5570multi-12-0-6-TRPW-rmse_LSTM_min.xlsx")

In [203]:
idxMse.max()

(179, 100, 256, 64, 8, 0.002, 0.0428437627851963, 0.0846307203173637)

In [204]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.152]

    Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
27          27      10    256     16      8         0.0010  0.025538  0.153152
24          24      10    256     16      1         0.0005  0.025903  0.176055
25          25      10    256     16      2         0.0005  0.025430  0.166747
27          27      10    256     16      8         0.0005  0.025378  0.158674
28          28      10    256     32      1         0.0005  0.025366  0.160647
30          30      10    256     32      4         0.0005  0.025430  0.152471
31          31      10    256     32      8         0.0005  0.025350  0.158472

In [205]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.152]

In [206]:
tabla2.to_excel("transformed_data/tablas/model5570multi-12-0-6-TRPW-rmse_LSTM_max.xlsx")

In [207]:
singleModel5570TRPWMse['rmse'].mean()

0.09735051659798177

## Datos LSTM TRPW Model 5570 (separarados) 12-0-6

In [208]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-12-0-6-TRPW-sep-acc_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-12-0-6-TRPW-sep-mse_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.039297  0.090613
1           1      10     64     16      2          0.002  0.038482  0.093597
2           2      10     64     16      4          0.002  0.039549  0.091025
3           3      10     64     16      8          0.002  0.039400  0.101217
4           4      10     64     32      1          0.002  0.039928  0.090376

In [209]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.007999,0.067907
1,1,10,64,16,2,0.0020,0.008172,0.067191
2,2,10,64,16,4,0.0020,0.007846,0.065901
3,3,10,64,16,8,0.0020,0.009748,0.072856
4,4,10,64,32,1,0.0020,0.007991,0.067239
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.007951,0.066849
176,176,100,256,64,1,0.0005,0.008076,0.068479
177,177,100,256,64,2,0.0005,0.007705,0.065991
178,178,100,256,64,4,0.0005,0.007494,0.064320
179,179,100,256,64,8,0.0005,0.007260,0.060444

In [210]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [211]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc[features_acc]

,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,10,64,16,1,0.0020,0.007999,0.067907
1,10,64,16,2,0.0020,0.008172,0.067191
2,10,64,16,4,0.0020,0.007846,0.065901
3,10,64,16,8,0.0020,0.009748,0.072856
4,10,64,32,1,0.0020,0.007991,0.067239
...,...,...,...,...,...,...,...
175,100,256,32,8,0.0005,0.007951,0.066849
176,100,256,64,1,0.0005,0.008076,0.068479
177,100,256,64,2,0.0005,0.007705,0.065991
178,100,256,64,4,0.0005,0.007494,0.064320
179,100,256,64,8,0.0005,0.007260,0.060444

In [212]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse[features_mse]

     epochs  batch  nodos  layer  learning rate       mse      rmse
0        10     64     16      1         0.0020  0.039297  0.090613
1        10     64     16      2         0.0020  0.038482  0.093597
2        10     64     16      4         0.0020  0.039549  0.091025
3        10     64     16      8         0.0020  0.039400  0.101217
4        10     64     32      1         0.0020  0.039928  0.090376
..      ...    ...    ...    ...            ...       ...       ...
175     100    256     32      8         0.0005  0.039341  0.091250
176     100    256     64      1         0.0005  0.039381  0.090948
177     100    256     64      2         0.0005  0.039864  0.088944
178     100    256     64      4         0.0005  0.040767  0.088217
179     100    256     64      8         0.0005  0.042792  0.086260

[540 rows x 7 columns]

In [213]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-12-0-6-TRPW-sep-mse_LSTM.csv', encoding='utf-8')

In [214]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [215]:
idxMse

MultiIndex([(  0,  10,  64, 16, 1,  0.002, 0.0392971783876419, ...),
            (  1,  10,  64, 16, 2,  0.002, 0.0384819470345974, ...),
            (  2,  10,  64, 16, 4,  0.002, 0.0395486615598201, ...),
            (  3,  10,  64, 16, 8,  0.002, 0.0394000224769115, ...),
            (  4,  10,  64, 32, 1,  0.002, 0.0399275943636894, ...),
            (  5,  10,  64, 32, 2,  0.002, 0.0395825542509555, ...),
            (  6,  10,  64, 32, 4,  0.002, 0.0415798798203468, ...),
            (  7,  10,  64, 32, 8,  0.002, 0.0410322621464729, ...),
            (  8,  10,  64, 64, 1,  0.002, 0.0401689819991588, ...),
            (  9,  10,  64, 64, 2,  0.002, 0.0414953120052814, ...),
            ...
            (170, 100, 256, 16, 4, 0.0005, 0.0401373244822025, ...),
            (171, 100, 256, 16, 8, 0.0005,  0.038617055863142, ...),
            (172, 100, 256, 32, 1, 0.0005, 0.0403423681855201, ...),
            (173, 100, 256, 32, 2, 0.0005, 0.0403801091015338, ...),
            (174, 100, 256, 32, 4, 0.0005, 0.0391059704124927, ...),
            (175, 100, 256, 32, 8, 0.0005, 0.0393412373960018, ...),
            (176, 100, 256, 64, 1, 0.0005, 0.0393811613321304, ...),
            (177, 100, 256, 64, 2, 0.0005,  0.039863534271717, ...),
            (178, 100, 256, 64, 4, 0.0005,    0.0407674908638, ...),
            (179, 100, 256, 64, 8, 0.0005, 0.0427923314273357, ...)],
           names=['Unnamed: 0', 'epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [216]:
idxMse.min()

(0, 10, 64, 16, 1, 0.0005, 0.034120999276638, 0.1201215460896492)

In [217]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08283]

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
113,113,75,64,32,2,0.0020,0.043209,0.081918
126,126,75,128,32,4,0.0020,0.043008,0.082779
178,178,100,256,64,4,0.0020,0.043750,0.082033
79,79,50,64,32,8,0.0010,0.042759,0.082183
131,131,75,128,64,8,0.0010,0.044584,0.082484
153,153,100,64,64,2,0.0010,0.041965,0.082773
175,175,100,256,32,8,0.0010,0.042566,0.082773
83,83,50,64,64,8,0.0005,0.043740,0.082813

In [218]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08283]

In [219]:
tabla1.to_excel("transformed_data/tablas/model5570multi-12-0-6-TRPW-sep-rmse_LSTM_min.xlsx")

In [220]:
idxMse.max()

(179, 100, 256, 64, 8, 0.002, 0.0431301034986972, 0.0856650844216346)

In [221]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.157]

    Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
27          27      10    256     16      8         0.0010  0.025356  0.157451
24          24      10    256     16      1         0.0005  0.025955  0.176776
25          25      10    256     16      2         0.0005  0.025361  0.163440
26          26      10    256     16      4         0.0005  0.025357  0.161298
27          27      10    256     16      8         0.0005  0.025370  0.159119
28          28      10    256     32      1         0.0005  0.025355  0.163230
31          31      10    256     32      8         0.0005  0.025357  0.159013

In [222]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.157]

In [223]:
tabla2.to_excel("transformed_data/tablas/model5570multi-12-0-6-TRPW-sep-rmse_LSTM_max.xlsx")

In [224]:
singleModel5570TRPWMse['rmse'].mean()

0.09753442725373634

## Datos GRU TRPW Model 5570 (no separarados) 12-0-6

In [225]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-12-0-6-TRPW-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-12-0-6-TRPW-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.039788  0.099791
1           1      10     64     16      2          0.002  0.040873  0.088842
2           2      10     64     16      4          0.002  0.040814  0.088099
3           3      10     64     16      8          0.002  0.041909  0.087466
4           4      10     64     32      1          0.002  0.040231  0.088330

In [226]:
singleModel5570TRPWMse

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
0,0,10,64,16,1,0.0020,0.039788,0.099791
1,1,10,64,16,2,0.0020,0.040873,0.088842
2,2,10,64,16,4,0.0020,0.040814,0.088099
3,3,10,64,16,8,0.0020,0.041909,0.087466
4,4,10,64,32,1,0.0020,0.040231,0.088330
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.042898,0.086980
176,176,100,256,64,1,0.0005,0.039635,0.088581
177,177,100,256,64,2,0.0005,0.041375,0.086645
178,178,100,256,64,4,0.0005,0.042990,0.084869
179,179,100,256,64,8,0.0005,0.042619,0.085424

In [227]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.009531,0.075065
1,1,10,64,16,2,0.0020,0.007894,0.067681
2,2,10,64,16,4,0.0020,0.007347,0.064120
3,3,10,64,16,8,0.0020,0.007142,0.062590
4,4,10,64,32,1,0.0020,0.007739,0.065382
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.006703,0.060921
176,176,100,256,64,1,0.0005,0.007784,0.066400
177,177,100,256,64,2,0.0005,0.007293,0.063736
178,178,100,256,64,4,0.0005,0.006813,0.060930
179,179,100,256,64,8,0.0005,0.006483,0.059640

In [228]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [229]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc = singleModel5570TRPWAcc[features_acc]

In [230]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse = singleModel5570TRPWMse[features_mse]

In [231]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-12-0-6-TRPW-mse_GRU.csv', encoding='utf-8')

In [232]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [233]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0397880859673023, 0.0997914522886276),
            ( 10,  64, 16, 2,  0.002, 0.0408732146024704, 0.0888423174619674),
            ( 10,  64, 16, 4,  0.002, 0.0408140681684017, 0.0880985856056213),
            ( 10,  64, 16, 8,  0.002, 0.0419093035161495, 0.0874661579728126),
            ( 10,  64, 32, 1,  0.002, 0.0402311533689498, 0.0883299857378006),
            ( 10,  64, 32, 2,  0.002, 0.0407759472727775, 0.0857432335615158),
            ( 10,  64, 32, 4,  0.002, 0.0415587462484836, 0.0867844596505165),
            ( 10,  64, 32, 8,  0.002, 0.0445154756307601, 0.0856185555458068),
            ( 10,  64, 64, 1,  0.002, 0.0405697710812091, 0.0881654694676399),
            ( 10,  64, 64, 2,  0.002, 0.0424182787537574, 0.0857213512063026),
            ...
            (100, 256, 16, 4, 0.0005, 0.0409166403114795,  0.087377518415451),
            (100, 256, 16, 8, 0.0005, 0.0422963760793209, 0.0863097459077835),
            (100, 256, 32, 1, 0.0005, 0.0409178882837295, 0.0892029851675033),
            (100, 256, 32, 2, 0.0005, 0.0410665459930896, 0.0868865549564361),
            (100, 256, 32, 4, 0.0005, 0.0422610156238079, 0.0861307680606842),
            (100, 256, 32, 8, 0.0005, 0.0428979396820068, 0.0869798883795738),
            (100, 256, 64, 1, 0.0005, 0.0396346077322959,  0.088580846786499),
            (100, 256, 64, 2, 0.0005, 0.0413751453161239, 0.0866447314620018),
            (100, 256, 64, 4, 0.0005, 0.0429903902113437, 0.0848689004778862),
            (100, 256, 64, 8, 0.0005, 0.0426186732947826, 0.0854242444038391)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [234]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0345130451023578, 0.1161515638232231)

In [235]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08349]

     epochs  batch  nodos  layer  learning rate       mse      rmse
87       50    128     16      8         0.0020  0.042374  0.083449
125      75    128     32      2         0.0020  0.043652  0.083394
127      75    128     32      8         0.0020  0.043327  0.083444
81       50     64     64      2         0.0010  0.042729  0.083475
110      75     64     16      4         0.0010  0.043720  0.083435
158     100    128     16      4         0.0010  0.042594  0.082805
165     100    128     64      2         0.0010  0.042975  0.083094
83       50     64     64      8         0.0005  0.042471  0.083448

In [236]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.08349]

In [237]:
tabla1.to_excel("transformed_data/tablas/model5570multi-12-0-6-TRPW-rmse_GRU_min.xlsx")

In [238]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.044365145266056, 0.0890318751335144)

In [239]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.14]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.025338  0.156043
12      10    128     16      1         0.0005  0.025449  0.152785
24      10    256     16      1         0.0005  0.025594  0.171781
25      10    256     16      2         0.0005  0.025252  0.161272
26      10    256     16      4         0.0005  0.025488  0.149183
28      10    256     32      1         0.0005  0.025329  0.159697
32      10    256     64      1         0.0005  0.026122  0.140326

In [240]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.14]

In [241]:
tabla2.to_excel("transformed_data/tablas/model5570multi-12-0-6-TRPW-rmse_GRU_max.xlsx")

In [242]:
singleModel5570TRPWMse['rmse'].mean()

0.09205369517483089

## Datos GRU TRPW Model 5570 (separarados) 12-0-6

In [243]:
#OK
singleModel5570TRPWAcc = pd.DataFrame({})
singleModel5570TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5570OneTRPWAcc = pd.read_csv('transformed_data/model5570multi-12-0-6-TRPW-sep-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570OneTRPWMse = pd.read_csv('transformed_data/model5570multi-12-0-6-TRPW-sep-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5570TRPWAcc = singleModel5570TRPWAcc.append(singleModel5570OneTRPWAcc)
    singleModel5570TRPWMse = singleModel5570TRPWMse.append(singleModel5570OneTRPWMse)

singleModel5570TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.039587  0.097132
1           1      10     64     16      2          0.002  0.039150  0.093403
2           2      10     64     16      4          0.002  0.041139  0.087826
3           3      10     64     16      8          0.002  0.041645  0.086858
4           4      10     64     32      1          0.002  0.040911  0.088641

In [244]:
singleModel5570TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.009150,0.072695
1,1,10,64,16,2,0.0020,0.008487,0.069755
2,2,10,64,16,4,0.0020,0.007477,0.065175
3,3,10,64,16,8,0.0020,0.007218,0.063223
4,4,10,64,32,1,0.0020,0.007934,0.067405
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.006681,0.060584
176,176,100,256,64,1,0.0005,0.007739,0.065802
177,177,100,256,64,2,0.0005,0.007349,0.064021
178,178,100,256,64,4,0.0005,0.006721,0.060601
179,179,100,256,64,8,0.0005,0.006529,0.059756

In [245]:
singleModel5570TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [246]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5570TRPWAcc = singleModel5570TRPWAcc[features_acc]

In [247]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5570TRPWMse = singleModel5570TRPWMse[features_mse]

In [248]:
singleModel5570TRPWMse.to_csv('transformed_data/memory_data/model5570multi-12-0-6-TRPW-sep-mse_GRU.csv', encoding='utf-8')

In [249]:
idxMse = pd.MultiIndex.from_frame (singleModel5570TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5570TRPWAcc)

In [250]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0395866855978965, 0.0971324816346168),
            ( 10,  64, 16, 2,  0.002,  0.039150346070528, 0.0934027731418609),
            ( 10,  64, 16, 4,  0.002, 0.0411391444504261, 0.0878261029720306),
            ( 10,  64, 16, 8,  0.002,   0.04164519906044, 0.0868582278490066),
            ( 10,  64, 32, 1,  0.002, 0.0409111566841602, 0.0886405259370803),
            ( 10,  64, 32, 2,  0.002, 0.0417657643556594, 0.0859349370002746),
            ( 10,  64, 32, 4,  0.002, 0.0412331968545913, 0.0869739651679992),
            ( 10,  64, 32, 8,  0.002, 0.0440984293818473, 0.0864300057291984),
            ( 10,  64, 64, 1,  0.002, 0.0409532971680164,  0.088636115193367),
            ( 10,  64, 64, 2,  0.002, 0.0415349192917346, 0.0863454416394233),
            ...
            (100, 256, 16, 4, 0.0005, 0.0411106199026107, 0.0868313461542129),
            (100, 256, 16, 8, 0.0005, 0.0412227250635623,  0.086817666888237),
            (100, 256, 32, 1, 0.0005, 0.0410397984087467,  0.089870236814022),
            (100, 256, 32, 2, 0.0005, 0.0406367555260658, 0.0864608883857727),
            (100, 256, 32, 4, 0.0005, 0.0421392433345317, 0.0858118310570716),
            (100, 256, 32, 8, 0.0005, 0.0429069586098194, 0.0866060778498649),
            (100, 256, 64, 1, 0.0005, 0.0397943444550037, 0.0889927074313163),
            (100, 256, 64, 2, 0.0005, 0.0407356806099414, 0.0869404822587966),
            (100, 256, 64, 4, 0.0005, 0.0421702377498149,   0.08590929210186),
            (100, 256, 64, 8, 0.0005, 0.0421650521457195, 0.0837692469358444)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [251]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0346677303314209, 0.1151717752218246)

In [252]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.0835]

     epochs  batch  nodos  layer  learning rate       mse      rmse
93       50    128     64      2         0.0020  0.042244  0.083443
123      75    128     16      8         0.0020  0.042889  0.083122
111      75     64     16      8         0.0010  0.044253  0.083024
117      75     64     64      2         0.0010  0.042936  0.083242
123      75    128     16      8         0.0010  0.043733  0.083480
165     100    128     64      2         0.0010  0.042827  0.083132
83       50     64     64      8         0.0005  0.043491  0.082929
163     100    128     32      8         0.0005  0.042484  0.082905

In [253]:
tabla1 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] < 0.0835]

In [254]:
tabla1.to_excel("transformed_data/tablas/model5570multi-12-0-6-TRPW-sep-rmse_GRU_min.xlsx")

In [255]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0439958311617374, 0.0887754335999488)

In [256]:
singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.144]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.025336  0.152218
12      10    128     16      1         0.0005  0.025668  0.145337
24      10    256     16      1         0.0005  0.026932  0.167764
25      10    256     16      2         0.0005  0.025319  0.164660
26      10    256     16      4         0.0005  0.025473  0.149862
27      10    256     16      8         0.0005  0.025412  0.153544
28      10    256     32      1         0.0005  0.025281  0.161458

In [257]:
tabla2 = singleModel5570TRPWMse[singleModel5570TRPWMse['rmse'] > 0.144]

In [258]:
tabla2.to_excel("transformed_data/tablas/model5570multi-12-0-6-TRPW-sep-rmse_GRU_max.xlsx")

In [259]:
singleModel5570TRPWMse['rmse'].mean()

0.09226124878558845