In [1]:
import pandas as pd

# Comparacion de datos 6-0-1

## Datos LSTM Model 5644 6-0-1

In [2]:
#OK
singleModel5644Acc = pd.DataFrame({})
singleModel5644Mse = pd.DataFrame({})
for index in range(0,3):
    singleModel5644OneAcc = pd.read_csv('transformed_data/model5644-6-0-1-acc_LSTM_'+str(index).zfill(1) +'.csv')
    singleModel5644OneMse = pd.read_csv('transformed_data/model5644-6-0-1-mse_LSTM_'+str(index).zfill(1) +'.csv')
    singleModel5644Acc = singleModel5644Acc.append(singleModel5644OneAcc)
    singleModel5644Mse = singleModel5644Mse.append(singleModel5644OneMse)

singleModel5644Mse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.018697  0.062606
1           1      10     64     16      2          0.002  0.018120  0.066166
2           2      10     64     16      4          0.002  0.018341  0.071367
3           3      10     64     16      8          0.002  0.019180  0.070360
4           4      10     64     32      1          0.002  0.018387  0.062395

In [3]:
singleModel5644Acc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.006018,0.055883
1,1,10,64,16,2,0.0020,0.006918,0.058685
2,2,10,64,16,4,0.0020,0.008236,0.062746
3,3,10,64,16,8,0.0020,0.007953,0.061080
4,4,10,64,32,1,0.0020,0.006152,0.054747
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.009040,0.070579
176,176,100,256,64,1,0.0005,0.006514,0.057830
177,177,100,256,64,2,0.0005,0.006688,0.062094
178,178,100,256,64,4,0.0005,0.007698,0.067300
179,179,100,256,64,8,0.0005,0.008748,0.072099

In [4]:
singleModel5644Mse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [5]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5644Acc = singleModel5644Acc[features_acc]

In [6]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5644Mse = singleModel5644Mse[features_mse]

In [7]:
singleModel5644Mse.to_csv('transformed_data/memory_data/model5644-6-0-1-rmse_LSTM.csv', encoding='utf-8')

In [8]:
idxMse = pd.MultiIndex.from_frame (singleModel5644Mse)
idxAcc = pd.MultiIndex.from_frame (singleModel5644Acc)

In [9]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0186965093016624, 0.0626057535409927),
            ( 10,  64, 16, 2,  0.002, 0.0181203205138444, 0.0661662220954895),
            ( 10,  64, 16, 4,  0.002, 0.0183412302285432, 0.0713674798607826),
            ( 10,  64, 16, 8,  0.002, 0.0191795472055673, 0.0703599154949188),
            ( 10,  64, 32, 1,  0.002, 0.0183869693428277, 0.0623953305184841),
            ( 10,  64, 32, 2,  0.002, 0.0199045408517122,  0.061934445053339),
            ( 10,  64, 32, 4,  0.002, 0.0193804446607828, 0.0664038360118866),
            ( 10,  64, 32, 8,  0.002, 0.0186342075467109, 0.0641467124223709),
            ( 10,  64, 64, 1,  0.002, 0.0198362059891223, 0.0623822696506977),
            ( 10,  64, 64, 2,  0.002, 0.0204812716692686, 0.0661772266030311),
            ...
            (100, 256, 16, 4, 0.0005, 0.0177163425832986, 0.0727292299270629),
            (100, 256, 16, 8, 0.0005, 0.0176350194960832, 0.0749840214848518),
            (100, 256, 32, 1, 0.0005, 0.0187702663242816, 0.0654823705554008),
            (100, 256, 32, 2, 0.0005, 0.0185402948409318, 0.0671420022845268),
            (100, 256, 32, 4, 0.0005, 0.0179464872926473, 0.0723764523863792),
            (100, 256, 32, 8, 0.0005, 0.0181507710367441, 0.0753048658370971),
            (100, 256, 64, 1, 0.0005,  0.018940744921565, 0.0646915361285209),
            (100, 256, 64, 2, 0.0005, 0.0194447748363018, 0.0683242231607437),
            (100, 256, 64, 4, 0.0005, 0.0188363473862409, 0.0732328668236732),
            (100, 256, 64, 8, 0.0005, 0.0186358243227005, 0.0781517550349235)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [10]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0187803488224744, 0.0680186301469802)

In [11]:
singleModel5644Mse[singleModel5644Mse['rmse'] < 0.053795]

     epochs  batch  nodos  layer  learning rate       mse      rmse
111      75     64     16      8         0.0020  0.021589  0.053321
143      75    256     64      8         0.0020  0.020348  0.053791
158     100    128     16      4         0.0020  0.021749  0.053253
166     100    128     64      4         0.0020  0.021423  0.053583
115      75     64     32      8         0.0010  0.021451  0.053691
147     100     64     16      8         0.0010  0.021616  0.053791
150     100     64     32      4         0.0010  0.021869  0.053775
151     100     64     32      8         0.0010  0.021247  0.053599
155     100     64     64      8         0.0005  0.021410  0.053685

In [12]:
tabla1 = singleModel5644Mse[singleModel5644Mse['rmse'] < 0.053795]

In [13]:
tabla1.to_excel("transformed_data/tablas/model5644-6-0-1-rmse_LSTM_min.xlsx")

In [14]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0212869960814714, 0.0541525594890117)

In [15]:
singleModel5644Mse[singleModel5644Mse['rmse'] > 0.125]

    epochs  batch  nodos  layer  learning rate       mse      rmse
27      10    256     16      8         0.0010  0.017513  0.129072
24      10    256     16      1         0.0005  0.034779  0.191100
25      10    256     16      2         0.0005  0.022157  0.152308
26      10    256     16      4         0.0005  0.020068  0.139963
27      10    256     16      8         0.0005  0.019246  0.138501
28      10    256     32      1         0.0005  0.021299  0.145229
31      10    256     32      8         0.0005  0.019016  0.136905

In [16]:
tabla2 = singleModel5644Mse[singleModel5644Mse['rmse'] > 0.125]

In [17]:
tabla2.to_excel("transformed_data/tablas/model5644-6-0-1-rmse_LSTM_max.xlsx")

In [18]:
singleModel5644Mse['rmse'].mean()

0.06553138038488446

## Datos LSTM Model 5644 - GRU 6-0-1

In [19]:
#OK
singleModel5644AccGRU = pd.DataFrame({})
singleModel5644MseGRU = pd.DataFrame({})
for index in range(0,3):
    singleModel5644OneAccGRU = pd.read_csv('transformed_data/model5644-6-0-1-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5644OneMseGRU = pd.read_csv('transformed_data/model5644-6-0-1-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5644AccGRU = singleModel5644AccGRU.append(singleModel5644OneAccGRU)
    singleModel5644MseGRU = singleModel5644MseGRU.append(singleModel5644OneMseGRU)

singleModel5644MseGRU.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.018882  0.058689
1           1      10     64     16      2          0.002  0.020016  0.055978
2           2      10     64     16      4          0.002  0.020874  0.056448
3           3      10     64     16      8          0.002  0.020778  0.057192
4           4      10     64     32      1          0.002  0.018947  0.058409

In [20]:
singleModel5644AccGRU

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.005074,0.051074
1,1,10,64,16,2,0.0020,0.004435,0.046718
2,2,10,64,16,4,0.0020,0.004318,0.044702
3,3,10,64,16,8,0.0020,0.004542,0.046080
4,4,10,64,32,1,0.0020,0.004798,0.049766
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.004402,0.046116
176,176,100,256,64,1,0.0005,0.005616,0.054459
177,177,100,256,64,2,0.0005,0.004473,0.049816
178,178,100,256,64,4,0.0005,0.004231,0.046932
179,179,100,256,64,8,0.0005,0.004176,0.045434

In [21]:
singleModel5644AccGRU.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'keras_loss_model',
 'keras_model_acc']

In [22]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5644AccGRU = singleModel5644AccGRU[features_acc]

In [23]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5644MseGRU = singleModel5644MseGRU[features_mse]

In [24]:
singleModel5644MseGRU.to_csv('transformed_data/memory_data/model5644-6-0-1-mse_GRU.csv', encoding='utf-8')

In [25]:
idxMseGRU = pd.MultiIndex.from_frame (singleModel5644MseGRU)
idxAccGRU = pd.MultiIndex.from_frame (singleModel5644AccGRU)

In [26]:
idxMseGRU

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0188820827752351, 0.0586885176599025),
            ( 10,  64, 16, 2,  0.002, 0.0200156401842832, 0.0559783428907394),
            ( 10,  64, 16, 4,  0.002, 0.0208739601075649, 0.0564483478665351),
            ( 10,  64, 16, 8,  0.002, 0.0207782946527004, 0.0571924671530723),
            ( 10,  64, 32, 1,  0.002, 0.0189466886222362, 0.0584093816578388),
            ( 10,  64, 32, 2,  0.002, 0.0205863062292337, 0.0562663190066814),
            ( 10,  64, 32, 4,  0.002, 0.0212275758385658,  0.056032694876194),
            ( 10,  64, 32, 8,  0.002,  0.019779410213232, 0.0550544410943985),
            ( 10,  64, 64, 1,  0.002, 0.0204650145024061, 0.0590194165706634),
            ( 10,  64, 64, 2,  0.002, 0.0218835212290287, 0.0554959364235401),
            ...
            (100, 256, 16, 4, 0.0005, 0.0186722613871097, 0.0637999102473259),
            (100, 256, 16, 8, 0.0005,  0.018360523506999, 0.0716722831130027),
            (100, 256, 32, 1, 0.0005, 0.0190884955227375, 0.0615114569664001),
            (100, 256, 32, 2, 0.0005, 0.0195379052311182, 0.0582738034427166),
            (100, 256, 32, 4, 0.0005, 0.0212414301931858, 0.0581951960921287),
            (100, 256, 32, 8, 0.0005, 0.0216284338384866, 0.0590498819947242),
            (100, 256, 64, 1, 0.0005, 0.0189744662493467, 0.0619853623211383),
            (100, 256, 64, 2, 0.0005, 0.0208619553595781, 0.0573486611247062),
            (100, 256, 64, 4, 0.0005, 0.0218288339674472, 0.0577785372734069),
            (100, 256, 64, 8, 0.0005, 0.0218788832426071, 0.0577138811349868)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [27]:
idxMseGRU.min()

(10, 64, 16, 1, 0.0005, 0.0190242435783147, 0.0638016313314437)

In [28]:
singleModel5644MseGRU[singleModel5644MseGRU['rmse'] < 0.0543]

     epochs  batch  nodos  layer  learning rate       mse      rmse
152     100     64     64      1         0.0020  0.021447  0.053698
159     100    128     16      8         0.0020  0.020867  0.054078
167     100    128     64      8         0.0020  0.021108  0.053877
147     100     64     16      8         0.0010  0.021159  0.054154
149     100     64     32      2         0.0010  0.021869  0.054138
153     100     64     64      2         0.0010  0.021526  0.054296
147     100     64     16      8         0.0005  0.021408  0.054285
151     100     64     32      8         0.0005  0.021784  0.054294

In [29]:
tabla1 = singleModel5644MseGRU[singleModel5644MseGRU['rmse'] < 0.0543]

In [30]:
tabla1.to_excel("transformed_data/tablas/model5644-6-0-1-rmse_GRU_min.xlsx")

In [31]:
idxMseGRU.max()

(100, 256, 64, 8, 0.002, 0.0209329016506671, 0.0555675402283668)

In [32]:
singleModel5644MseGRU[singleModel5644MseGRU['rmse'] > 0.095]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.017316  0.112268
12      10    128     16      1         0.0005  0.016601  0.097855
24      10    256     16      1         0.0005  0.032470  0.180915
25      10    256     16      2         0.0005  0.019842  0.127347
26      10    256     16      4         0.0005  0.019005  0.128452
27      10    256     16      8         0.0005  0.019217  0.134106
28      10    256     32      1         0.0005  0.019746  0.137384

In [33]:
tabla2 = singleModel5644MseGRU[singleModel5644MseGRU['rmse'] > 0.095]

In [34]:
tabla2.to_excel("transformed_data/tablas/model5644-6-0-1-rmse_GRU_max.xlsx")

In [35]:
singleModel5644MseGRU['rmse'].mean()

0.060694710179059544

## Datos LSTM TRPW Model 5644 (no separarados) 6-0-1

In [36]:
#OK
singleModel5644TRPWAcc = pd.DataFrame({})
singleModel5644TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5644OneTRPWAcc = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPW-acc_'+str(index).zfill(1) +'.csv')
    singleModel5644OneTRPWMse = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPW-mse_'+str(index).zfill(1) +'.csv')
    singleModel5644TRPWAcc = singleModel5644TRPWAcc.append(singleModel5644OneTRPWAcc)
    singleModel5644TRPWMse = singleModel5644TRPWMse.append(singleModel5644OneTRPWMse)

singleModel5644TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.018776  0.063024
1           1      10     64     16      2          0.002  0.018234  0.065160
2           2      10     64     16      4          0.002  0.019098  0.070034
3           3      10     64     16      8          0.002  0.018589  0.071876
4           4      10     64     32      1          0.002  0.018591  0.060683

In [37]:
singleModel5644TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.006123,0.056058
1,1,10,64,16,2,0.0020,0.006689,0.057830
2,2,10,64,16,4,0.0020,0.007622,0.059681
3,3,10,64,16,8,0.0020,0.008328,0.063231
4,4,10,64,32,1,0.0020,0.005630,0.053542
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.009301,0.072635
176,176,100,256,64,1,0.0005,0.006328,0.056989
177,177,100,256,64,2,0.0005,0.006803,0.062620
178,178,100,256,64,4,0.0005,0.007860,0.068264
179,179,100,256,64,8,0.0005,0.008833,0.072413

In [38]:
singleModel5644TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [39]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5644TRPWAcc[features_acc]

,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,10,64,16,1,0.0020,0.006123,0.056058
1,10,64,16,2,0.0020,0.006689,0.057830
2,10,64,16,4,0.0020,0.007622,0.059681
3,10,64,16,8,0.0020,0.008328,0.063231
4,10,64,32,1,0.0020,0.005630,0.053542
...,...,...,...,...,...,...,...
175,100,256,32,8,0.0005,0.009301,0.072635
176,100,256,64,1,0.0005,0.006328,0.056989
177,100,256,64,2,0.0005,0.006803,0.062620
178,100,256,64,4,0.0005,0.007860,0.068264
179,100,256,64,8,0.0005,0.008833,0.072413

In [40]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5644TRPWMse[features_mse]

     epochs  batch  nodos  layer  learning rate       mse      rmse
0        10     64     16      1         0.0020  0.018776  0.063024
1        10     64     16      2         0.0020  0.018234  0.065160
2        10     64     16      4         0.0020  0.019098  0.070034
3        10     64     16      8         0.0020  0.018589  0.071876
4        10     64     32      1         0.0020  0.018591  0.060683
..      ...    ...    ...    ...            ...       ...       ...
175     100    256     32      8         0.0005  0.018018  0.077087
176     100    256     64      1         0.0005  0.018964  0.063894
177     100    256     64      2         0.0005  0.019378  0.068734
178     100    256     64      4         0.0005  0.018965  0.074315
179     100    256     64      8         0.0005  0.018608  0.078318

[540 rows x 7 columns]

In [41]:
singleModel5644TRPWMse.to_csv('transformed_data/memory_data/model5644multi-6-0-1-TRPW-mse_LSTM.csv', encoding='utf-8')

In [42]:
idxMse = pd.MultiIndex.from_frame (singleModel5644TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5644TRPWAcc)

In [43]:
idxMse

MultiIndex([(  0,  10,  64, 16, 1,  0.002, 0.0187756214290857, ...),
            (  1,  10,  64, 16, 2,  0.002, 0.0182340592145919, ...),
            (  2,  10,  64, 16, 4,  0.002, 0.0190976820886135, ...),
            (  3,  10,  64, 16, 8,  0.002, 0.0185889657586812, ...),
            (  4,  10,  64, 32, 1,  0.002, 0.0185910183936357, ...),
            (  5,  10,  64, 32, 2,  0.002, 0.0187742561101913, ...),
            (  6,  10,  64, 32, 4,  0.002, 0.0194572620093822, ...),
            (  7,  10,  64, 32, 8,  0.002, 0.0189623907208442, ...),
            (  8,  10,  64, 64, 1,  0.002, 0.0195372067391872, ...),
            (  9,  10,  64, 64, 2,  0.002, 0.0198068805038929, ...),
            ...
            (170, 100, 256, 16, 4, 0.0005, 0.0176983680576086, ...),
            (171, 100, 256, 16, 8, 0.0005, 0.0176999233663082, ...),
            (172, 100, 256, 32, 1, 0.0005, 0.0188943408429622, ...),
            (173, 100, 256, 32, 2, 0.0005, 0.0185436364263296, ...),
            (174, 100, 256, 32, 4, 0.0005, 0.0179891884326934, ...),
            (175, 100, 256, 32, 8, 0.0005, 0.0180181954056024, ...),
            (176, 100, 256, 64, 1, 0.0005, 0.0189641807228326, ...),
            (177, 100, 256, 64, 2, 0.0005, 0.0193781834095716, ...),
            (178, 100, 256, 64, 4, 0.0005, 0.0189647432416677, ...),
            (179, 100, 256, 64, 8, 0.0005, 0.0186076238751411, ...)],
           names=['Unnamed: 0', 'epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [44]:
idxMse.min()

(0, 10, 64, 16, 1, 0.0005, 0.0188334751874208, 0.0688131228089332)

In [45]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.0536]

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
147,147,100,64,16,8,0.002,0.021192,0.053382
163,163,100,128,32,8,0.002,0.021312,0.053472
166,166,100,128,64,4,0.002,0.021409,0.053579
115,115,75,64,32,8,0.001,0.021575,0.053401
131,131,75,128,64,8,0.001,0.020814,0.053422
151,151,100,64,32,8,0.001,0.021367,0.053229
155,155,100,64,64,8,0.001,0.021056,0.053599
167,167,100,128,64,8,0.001,0.021414,0.053410

In [46]:
tabla1 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.0536]

In [47]:
tabla1.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPW-rmse_LSTM_min.xlsx")

In [48]:
idxMse.max()

(179, 100, 256, 64, 8, 0.002, 0.0212625097483396, 0.0546790920197963)

In [49]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.12]

    Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
24          24      10    256     16      1         0.0010  0.018373  0.121186
24          24      10    256     16      1         0.0005  0.035183  0.194893
25          25      10    256     16      2         0.0005  0.022607  0.153326
27          27      10    256     16      8         0.0005  0.019142  0.137970
28          28      10    256     32      1         0.0005  0.020164  0.138463
30          30      10    256     32      4         0.0005  0.017795  0.122077
31          31      10    256     32      8         0.0005  0.019032  0.137056

In [50]:
tabla2 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.12]

In [51]:
tabla2.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPW-rmse_LSTM_max.xlsx")

In [52]:
singleModel5644TRPWMse['rmse'].mean()

0.06544589222305346

## Datos LSTM TRPW Model 5644 (separarados) 6-0-1

In [53]:
#OK
singleModel5644TRPWAcc = pd.DataFrame({})
singleModel5644TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5644OneTRPWAcc = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPW-sep-acc_'+str(index).zfill(1) +'.csv')
    singleModel5644OneTRPWMse = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPW-sep-mse_'+str(index).zfill(1) +'.csv')
    singleModel5644TRPWAcc = singleModel5644TRPWAcc.append(singleModel5644OneTRPWAcc)
    singleModel5644TRPWMse = singleModel5644TRPWMse.append(singleModel5644OneTRPWMse)

singleModel5644TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.018911  0.063114
1           1      10     64     16      2          0.002  0.018138  0.065198
2           2      10     64     16      4          0.002  0.018546  0.070529
3           3      10     64     16      8          0.002  0.019593  0.069270
4           4      10     64     32      1          0.002  0.018432  0.062560

In [54]:
singleModel5644TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.006111,0.056043
1,1,10,64,16,2,0.0020,0.006687,0.057245
2,2,10,64,16,4,0.0020,0.008080,0.062196
3,3,10,64,16,8,0.0020,0.007820,0.060629
4,4,10,64,32,1,0.0020,0.006198,0.054791
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.009213,0.072205
176,176,100,256,64,1,0.0005,0.006544,0.057788
177,177,100,256,64,2,0.0005,0.006625,0.061342
178,178,100,256,64,4,0.0005,0.007885,0.068221
179,179,100,256,64,8,0.0005,0.008588,0.071122

In [55]:
singleModel5644TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [56]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5644TRPWAcc[features_acc]

,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,10,64,16,1,0.0020,0.006111,0.056043
1,10,64,16,2,0.0020,0.006687,0.057245
2,10,64,16,4,0.0020,0.008080,0.062196
3,10,64,16,8,0.0020,0.007820,0.060629
4,10,64,32,1,0.0020,0.006198,0.054791
...,...,...,...,...,...,...,...
175,100,256,32,8,0.0005,0.009213,0.072205
176,100,256,64,1,0.0005,0.006544,0.057788
177,100,256,64,2,0.0005,0.006625,0.061342
178,100,256,64,4,0.0005,0.007885,0.068221
179,100,256,64,8,0.0005,0.008588,0.071122

In [57]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5644TRPWMse[features_mse]

     epochs  batch  nodos  layer  learning rate       mse      rmse
0        10     64     16      1         0.0020  0.018911  0.063114
1        10     64     16      2         0.0020  0.018138  0.065198
2        10     64     16      4         0.0020  0.018546  0.070529
3        10     64     16      8         0.0020  0.019593  0.069270
4        10     64     32      1         0.0020  0.018432  0.062560
..      ...    ...    ...    ...            ...       ...       ...
175     100    256     32      8         0.0005  0.018003  0.076823
176     100    256     64      1         0.0005  0.018895  0.064646
177     100    256     64      2         0.0005  0.019253  0.067573
178     100    256     64      4         0.0005  0.018881  0.074142
179     100    256     64      8         0.0005  0.018755  0.077392

[540 rows x 7 columns]

In [58]:
singleModel5644TRPWMse.to_csv('transformed_data/memory_data/model5644multi-6-0-1-TRPW-sep-mse_LSTM.csv', encoding='utf-8')

In [59]:
idxMse = pd.MultiIndex.from_frame (singleModel5644TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5644TRPWAcc)

In [60]:
idxMse

MultiIndex([(  0,  10,  64, 16, 1,  0.002, 0.0189106706529855, ...),
            (  1,  10,  64, 16, 2,  0.002, 0.0181383434683084, ...),
            (  2,  10,  64, 16, 4,  0.002, 0.0185455530881881, ...),
            (  3,  10,  64, 16, 8,  0.002, 0.0195934735238552, ...),
            (  4,  10,  64, 32, 1,  0.002,  0.018431993201375, ...),
            (  5,  10,  64, 32, 2,  0.002,  0.019381383433938, ...),
            (  6,  10,  64, 32, 4,  0.002, 0.0196696035563945, ...),
            (  7,  10,  64, 32, 8,  0.002, 0.0181898195296525, ...),
            (  8,  10,  64, 64, 1,  0.002, 0.0207547415047884, ...),
            (  9,  10,  64, 64, 2,  0.002, 0.0212687756866216, ...),
            ...
            (170, 100, 256, 16, 4, 0.0005, 0.0177891850471496, ...),
            (171, 100, 256, 16, 8, 0.0005, 0.0173898823559284, ...),
            (172, 100, 256, 32, 1, 0.0005, 0.0188082717359066, ...),
            (173, 100, 256, 32, 2, 0.0005, 0.0186314061284065, ...),
            (174, 100, 256, 32, 4, 0.0005, 0.0181628931313753, ...),
            (175, 100, 256, 32, 8, 0.0005, 0.0180031713098287, ...),
            (176, 100, 256, 64, 1, 0.0005, 0.0188953075557947, ...),
            (177, 100, 256, 64, 2, 0.0005, 0.0192525386810302, ...),
            (178, 100, 256, 64, 4, 0.0005, 0.0188806150108575, ...),
            (179, 100, 256, 64, 8, 0.0005, 0.0187552310526371, ...)],
           names=['Unnamed: 0', 'epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [61]:
idxMse.min()

(0, 10, 64, 16, 1, 0.0005, 0.0186844691634178, 0.0688117370009422)

In [62]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.05373]

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
146,146,100,64,16,4,0.002,0.021649,0.053619
147,147,100,64,16,8,0.002,0.021215,0.053540
151,151,100,64,32,8,0.002,0.020933,0.053729
166,166,100,128,64,4,0.002,0.021385,0.053318
115,115,75,64,32,8,0.001,0.021306,0.053536
131,131,75,128,64,8,0.001,0.020866,0.053409
150,150,100,64,32,4,0.001,0.021854,0.053382
151,151,100,64,32,8,0.001,0.021421,0.053546

In [63]:
tabla1 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.05373]

In [64]:
tabla1.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPW-sep-rmse_LSTM_min.xlsx")

In [65]:
idxMse.max()

(179, 100, 256, 64, 8, 0.002, 0.0210363566875457, 0.0546847470104694)

In [66]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.13]

    Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
27          27      10    256     16      8         0.0010  0.017916  0.130963
24          24      10    256     16      1         0.0005  0.036459  0.198453
25          25      10    256     16      2         0.0005  0.021319  0.145936
26          26      10    256     16      4         0.0005  0.019884  0.139953
27          27      10    256     16      8         0.0005  0.019251  0.138587
28          28      10    256     32      1         0.0005  0.021095  0.143298
31          31      10    256     32      8         0.0005  0.019040  0.137020

In [67]:
tabla2 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.13]

In [68]:
tabla2.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPW-sep-rmse_LSTM_max.xlsx")

In [69]:
singleModel5644TRPWMse['rmse'].mean()

0.06569762338918662

## Datos GRU TRPW Model 5644 (no separarados) 6-0-1

In [70]:
#OK
singleModel5644TRPWAcc = pd.DataFrame({})
singleModel5644TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5644OneTRPWAcc = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPW-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5644OneTRPWMse = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPW-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5644TRPWAcc = singleModel5644TRPWAcc.append(singleModel5644OneTRPWAcc)
    singleModel5644TRPWMse = singleModel5644TRPWMse.append(singleModel5644OneTRPWMse)

singleModel5644TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.018941  0.060746
1           1      10     64     16      2          0.002  0.018528  0.059288
2           2      10     64     16      4          0.002  0.020809  0.055657
3           3      10     64     16      8          0.002  0.020911  0.057614
4           4      10     64     32      1          0.002  0.019046  0.058001

In [71]:
singleModel5644TRPWMse

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
0,0,10,64,16,1,0.0020,0.018941,0.060746
1,1,10,64,16,2,0.0020,0.018528,0.059288
2,2,10,64,16,4,0.0020,0.020809,0.055657
3,3,10,64,16,8,0.0020,0.020911,0.057614
4,4,10,64,32,1,0.0020,0.019046,0.058001
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.021760,0.059245
176,176,100,256,64,1,0.0005,0.019124,0.059982
177,177,100,256,64,2,0.0005,0.020947,0.056516
178,178,100,256,64,4,0.0005,0.021790,0.057201
179,179,100,256,64,8,0.0005,0.021943,0.057989

In [72]:
singleModel5644TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.005435,0.053167
1,1,10,64,16,2,0.0020,0.004977,0.050375
2,2,10,64,16,4,0.0020,0.004297,0.044721
3,3,10,64,16,8,0.0020,0.004593,0.046752
4,4,10,64,32,1,0.0020,0.004741,0.049131
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.004420,0.045935
176,176,100,256,64,1,0.0005,0.005264,0.052553
177,177,100,256,64,2,0.0005,0.004345,0.048320
178,178,100,256,64,4,0.0005,0.004193,0.046420
179,179,100,256,64,8,0.0005,0.004198,0.045691

In [73]:
singleModel5644TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [74]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5644TRPWAcc = singleModel5644TRPWAcc[features_acc]

In [75]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5644TRPWMse = singleModel5644TRPWMse[features_mse]

In [76]:
singleModel5644TRPWMse.to_csv('transformed_data/memory_data/model5644multi-6-0-1-TRPW-mse_GRU.csv', encoding='utf-8')

In [77]:
idxMse = pd.MultiIndex.from_frame (singleModel5644TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5644TRPWAcc)

In [78]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0189410280436277, 0.0607464239001274),
            ( 10,  64, 16, 2,  0.002, 0.0185280479490757, 0.0592884086072444),
            ( 10,  64, 16, 4,  0.002, 0.0208087489008903, 0.0556568764150142),
            ( 10,  64, 16, 8,  0.002, 0.0209109410643577, 0.0576137937605381),
            ( 10,  64, 32, 1,  0.002, 0.0190463196486234, 0.0580011308193206),
            ( 10,  64, 32, 2,  0.002, 0.0211880970746278, 0.0553450807929039),
            ( 10,  64, 32, 4,  0.002, 0.0213656555861234, 0.0561385005712509),
            ( 10,  64, 32, 8,  0.002, 0.0199935175478458, 0.0550289191305637),
            ( 10,  64, 64, 1,  0.002,  0.020778264850378, 0.0584597960114479),
            ( 10,  64, 64, 2,  0.002, 0.0217097103595733, 0.0558441989123821),
            ...
            (100, 256, 16, 4, 0.0005, 0.0194263402372598, 0.0621941685676574),
            (100, 256, 16, 8, 0.0005, 0.0192192699760198, 0.0683847591280937),
            (100, 256, 32, 1, 0.0005, 0.0190642867237329, 0.0618782639503479),
            (100, 256, 32, 2, 0.0005, 0.0192320942878723, 0.0593622922897338),
            (100, 256, 32, 4, 0.0005, 0.0211604442447423, 0.0567152835428714),
            (100, 256, 32, 8, 0.0005, 0.0217604786157608, 0.0592451691627502),
            (100, 256, 64, 1, 0.0005, 0.0191237349063158, 0.0599818713963031),
            (100, 256, 64, 2, 0.0005, 0.0209468360990285, 0.0565159246325492),
            (100, 256, 64, 4, 0.0005, 0.0217900648713111, 0.0572013370692729),
            (100, 256, 64, 8, 0.0005, 0.0219434220343828, 0.0579885616898536)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [79]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0196069199591875, 0.0647803395986557)

In [80]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.05419]

     epochs  batch  nodos  layer  learning rate       mse      rmse
123      75    128     16      8         0.0020  0.022387  0.054017
152     100     64     64      1         0.0020  0.021895  0.053812
158     100    128     16      4         0.0020  0.021105  0.053814
165     100    128     64      2         0.0020  0.021310  0.053924
111      75     64     16      8         0.0010  0.022097  0.054120
147     100     64     16      8         0.0010  0.021201  0.053879
147     100     64     16      8         0.0005  0.021426  0.053519
158     100    128     16      4         0.0005  0.021251  0.054184

In [81]:
tabla1 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.05419]

In [82]:
tabla1.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPW-rmse_GRU_min.xlsx")

In [83]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0208955649286508, 0.056178793311119)

In [84]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.083]

    epochs  batch  nodos  layer  learning rate       mse      rmse
27      10    256     16      8         0.0020  0.017654  0.084716
24      10    256     16      1         0.0010  0.017401  0.112546
12      10    128     16      1         0.0005  0.016786  0.110173
24      10    256     16      1         0.0005  0.028387  0.170854
25      10    256     16      2         0.0005  0.020482  0.132250
26      10    256     16      4         0.0005  0.017090  0.094762
28      10    256     32      1         0.0005  0.018015  0.120854

In [85]:
tabla2 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.083]

In [86]:
tabla2.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPW-rmse_GRU_max.xlsx")

In [87]:
singleModel5644TRPWMse['rmse'].mean()

0.06051465702691559

## Datos GRU TRPW Model 5644 (separarados) 6-0-1

In [88]:
#OK
singleModel5644TRPWAcc = pd.DataFrame({})
singleModel5644TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5644OneTRPWAcc = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPW-sep-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5644OneTRPWMse = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPW-sep-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5644TRPWAcc = singleModel5644TRPWAcc.append(singleModel5644OneTRPWAcc)
    singleModel5644TRPWMse = singleModel5644TRPWMse.append(singleModel5644OneTRPWMse)

singleModel5644TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.019046  0.059762
1           1      10     64     16      2          0.002  0.019174  0.056738
2           2      10     64     16      4          0.002  0.020741  0.058239
3           3      10     64     16      8          0.002  0.019556  0.056309
4           4      10     64     32      1          0.002  0.018918  0.058272

In [89]:
singleModel5644TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.005246,0.052279
1,1,10,64,16,2,0.0020,0.004650,0.048179
2,2,10,64,16,4,0.0020,0.004429,0.045978
3,3,10,64,16,8,0.0020,0.005041,0.049543
4,4,10,64,32,1,0.0020,0.004906,0.049930
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.004538,0.046510
176,176,100,256,64,1,0.0005,0.005343,0.052736
177,177,100,256,64,2,0.0005,0.004289,0.047646
178,178,100,256,64,4,0.0005,0.004198,0.046467
179,179,100,256,64,8,0.0005,0.004204,0.046719

In [90]:
singleModel5644TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [91]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5644TRPWAcc = singleModel5644TRPWAcc[features_acc]

In [92]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5644TRPWMse = singleModel5644TRPWMse[features_mse]

In [93]:
singleModel5644TRPWMse.to_csv('transformed_data/memory_data/model5644multi-6-0-1-TRPW-sep-mse_GRU.csv', encoding='utf-8')

In [94]:
idxMse = pd.MultiIndex.from_frame (singleModel5644TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5644TRPWAcc)

In [95]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0190457385033369, 0.0597618706524372),
            ( 10,  64, 16, 2,  0.002, 0.0191735960543155, 0.0567376464605331),
            ( 10,  64, 16, 4,  0.002, 0.0207413733005523, 0.0582392327487468),
            ( 10,  64, 16, 8,  0.002, 0.0195564739406108, 0.0563086904585361),
            ( 10,  64, 32, 1,  0.002, 0.0189182087779045, 0.0582721605896949),
            ( 10,  64, 32, 2,  0.002, 0.0210636928677558, 0.0556567646563053),
            ( 10,  64, 32, 4,  0.002, 0.0211412589997053, 0.0563971884548664),
            ( 10,  64, 32, 8,  0.002, 0.0200644694268703, 0.0553093068301677),
            ( 10,  64, 64, 1,  0.002, 0.0203746017068624, 0.0595073848962783),
            ( 10,  64, 64, 2,  0.002,  0.021631808951497, 0.0560276918113231),
            ...
            (100, 256, 16, 4, 0.0005, 0.0196063686162233, 0.0602328069508075),
            (100, 256, 16, 8, 0.0005,  0.018927851691842, 0.0684925466775894),
            (100, 256, 32, 1, 0.0005, 0.0190789438784122, 0.0620574653148651),
            (100, 256, 32, 2, 0.0005, 0.0196399707347154, 0.0583785250782966),
            (100, 256, 32, 4, 0.0005, 0.0212885234504938, 0.0570652708411216),
            (100, 256, 32, 8, 0.0005, 0.0216055642813444, 0.0598963163793087),
            (100, 256, 64, 1, 0.0005, 0.0190113931894302, 0.0603688172996044),
            (100, 256, 64, 2, 0.0005, 0.0212095938622951, 0.0561406426131725),
            (100, 256, 64, 4, 0.0005,  0.021876573562622, 0.0574529990553855),
            (100, 256, 64, 8, 0.0005, 0.0218144301325082, 0.0580341294407844)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [96]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0194336920976638, 0.0642481967806816)

In [97]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.054225]

     epochs  batch  nodos  layer  learning rate       mse      rmse
123      75    128     16      8         0.0020  0.022647  0.054011
152     100     64     64      1         0.0020  0.021763  0.053569
147     100     64     16      8         0.0010  0.021564  0.053415
153     100     64     64      2         0.0010  0.021699  0.054202
163     100    128     32      8         0.0010  0.021139  0.053979
150     100     64     32      4         0.0005  0.021451  0.054224
151     100     64     32      8         0.0005  0.021716  0.054050
153     100     64     64      2         0.0005  0.022154  0.054185

In [98]:
tabla1 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.054225]

In [99]:
tabla1.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPW-sep-rmse_GRU_min.xlsx")

In [100]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0211157947778701, 0.0564119443297386)

In [101]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.09]

    epochs  batch  nodos  layer  learning rate       mse      rmse
24      10    256     16      1         0.0010  0.017147  0.108304
12      10    128     16      1         0.0005  0.016355  0.096075
24      10    256     16      1         0.0005  0.036848  0.190523
25      10    256     16      2         0.0005  0.021052  0.141097
26      10    256     16      4         0.0005  0.017021  0.099794
27      10    256     16      8         0.0005  0.018834  0.125410
28      10    256     32      1         0.0005  0.018550  0.124868

In [102]:
tabla2 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.09]

In [103]:
tabla2.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPW-sep-rmse_GRU_max.xlsx")

In [104]:
singleModel5644TRPWMse['rmse'].mean()

0.060624195248992305

## Datos LSTM TRPWNN2C Model 5644 (no separarados) 6-0-1

In [105]:
#OK
singleModel5644TRPWAcc = pd.DataFrame({})
singleModel5644TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5644OneTRPWAcc = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPWNN2C-acc_'+str(index).zfill(1) +'.csv')
    singleModel5644OneTRPWMse = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPWNN2C-mse_'+str(index).zfill(1) +'.csv')
    singleModel5644TRPWAcc = singleModel5644TRPWAcc.append(singleModel5644OneTRPWAcc)
    singleModel5644TRPWMse = singleModel5644TRPWMse.append(singleModel5644OneTRPWMse)

singleModel5644TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.018697  0.062606
1           1      10     64     16      2          0.002  0.018120  0.066166
2           2      10     64     16      4          0.002  0.018341  0.071367
3           3      10     64     16      8          0.002  0.019180  0.070360
4           4      10     64     32      1          0.002  0.018387  0.062395

In [106]:
singleModel5644TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.006018,0.055883
1,1,10,64,16,2,0.0020,0.006918,0.058685
2,2,10,64,16,4,0.0020,0.008236,0.062746
3,3,10,64,16,8,0.0020,0.007953,0.061080
4,4,10,64,32,1,0.0020,0.006152,0.054747
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.009060,0.070946
176,176,100,256,64,1,0.0005,0.006566,0.058180
177,177,100,256,64,2,0.0005,0.006672,0.061382
178,178,100,256,64,4,0.0005,0.007862,0.067776
179,179,100,256,64,8,0.0005,0.008619,0.071307

In [107]:
singleModel5644TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [108]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5644TRPWAcc[features_acc]

,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,10,64,16,1,0.0020,0.006018,0.055883
1,10,64,16,2,0.0020,0.006918,0.058685
2,10,64,16,4,0.0020,0.008236,0.062746
3,10,64,16,8,0.0020,0.007953,0.061080
4,10,64,32,1,0.0020,0.006152,0.054747
...,...,...,...,...,...,...,...
175,100,256,32,8,0.0005,0.009060,0.070946
176,100,256,64,1,0.0005,0.006566,0.058180
177,100,256,64,2,0.0005,0.006672,0.061382
178,100,256,64,4,0.0005,0.007862,0.067776
179,100,256,64,8,0.0005,0.008619,0.071307

In [109]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5644TRPWMse[features_mse]

     epochs  batch  nodos  layer  learning rate       mse      rmse
0        10     64     16      1         0.0020  0.018697  0.062606
1        10     64     16      2         0.0020  0.018120  0.066166
2        10     64     16      4         0.0020  0.018341  0.071367
3        10     64     16      8         0.0020  0.019180  0.070360
4        10     64     32      1         0.0020  0.018387  0.062395
..      ...    ...    ...    ...            ...       ...       ...
175     100    256     32      8         0.0005  0.018181  0.075731
176     100    256     64      1         0.0005  0.019004  0.064961
177     100    256     64      2         0.0005  0.019201  0.067511
178     100    256     64      4         0.0005  0.018712  0.073614
179     100    256     64      8         0.0005  0.018752  0.077684

[540 rows x 7 columns]

In [110]:
singleModel5644TRPWMse.to_csv('transformed_data/memory_data/model5644multi-6-0-1-TRPWNN2C-mse_LSTM.csv', encoding='utf-8')

In [111]:
idxMse = pd.MultiIndex.from_frame (singleModel5644TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5644TRPWAcc)

In [112]:
idxMse

MultiIndex([(  0,  10,  64, 16, 1,  0.002, 0.0186965093016624, ...),
            (  1,  10,  64, 16, 2,  0.002, 0.0181203205138444, ...),
            (  2,  10,  64, 16, 4,  0.002, 0.0183412302285432, ...),
            (  3,  10,  64, 16, 8,  0.002, 0.0191795527935028, ...),
            (  4,  10,  64, 32, 1,  0.002, 0.0183869693428277, ...),
            (  5,  10,  64, 32, 2,  0.002, 0.0199045427143573, ...),
            (  6,  10,  64, 32, 4,  0.002, 0.0193804427981376, ...),
            (  7,  10,  64, 32, 8,  0.002, 0.0186342094093561, ...),
            (  8,  10,  64, 64, 1,  0.002, 0.0198362078517675, ...),
            (  9,  10,  64, 64, 2,  0.002, 0.0204812716692686, ...),
            ...
            (170, 100, 256, 16, 4, 0.0005, 0.0176939740777015, ...),
            (171, 100, 256, 16, 8, 0.0005, 0.0176130905747413, ...),
            (172, 100, 256, 32, 1, 0.0005, 0.0188982672989368, ...),
            (173, 100, 256, 32, 2, 0.0005, 0.0186411626636981, ...),
            (174, 100, 256, 32, 4, 0.0005, 0.0181723199784755, ...),
            (175, 100, 256, 32, 8, 0.0005, 0.0181807950139045, ...),
            (176, 100, 256, 64, 1, 0.0005, 0.0190039575099945, ...),
            (177, 100, 256, 64, 2, 0.0005, 0.0192013401538133, ...),
            (178, 100, 256, 64, 4, 0.0005, 0.0187117718160152, ...),
            (179, 100, 256, 64, 8, 0.0005, 0.0187522210180759, ...)],
           names=['Unnamed: 0', 'epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [113]:
idxMse.min()

(0, 10, 64, 16, 1, 0.0005, 0.0188112799078226, 0.0691038891673088)

In [114]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.0538]

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
111,111,75,64,16,8,0.002,0.021589,0.053321
143,143,75,256,64,8,0.002,0.020348,0.053791
158,158,100,128,16,4,0.002,0.021749,0.053253
166,166,100,128,64,4,0.002,0.021423,0.053583
131,131,75,128,64,8,0.001,0.020906,0.053374
147,147,100,64,16,8,0.001,0.021722,0.053645
151,151,100,64,32,8,0.001,0.021194,0.053296
167,167,100,128,64,8,0.001,0.021197,0.053798

In [115]:
tabla1 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.0538]

In [116]:
tabla1.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPWNN2C-rmse_LSTM_min.xlsx")

In [117]:
idxMse.max()

(179, 100, 256, 64, 8, 0.002, 0.0212869998067617, 0.0541525594890117)

In [118]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.13]

    Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
27          27      10    256     16      8         0.0010  0.019062  0.137799
24          24      10    256     16      1         0.0005  0.037532  0.199826
25          25      10    256     16      2         0.0005  0.022885  0.154481
26          26      10    256     16      4         0.0005  0.019766  0.139590
27          27      10    256     16      8         0.0005  0.019549  0.139793
28          28      10    256     32      1         0.0005  0.019906  0.135677
31          31      10    256     32      8         0.0005  0.019005  0.137005

In [119]:
tabla2 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.13]

In [120]:
tabla2.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPWNN2C-rmse_LSTM_max.xlsx")

In [121]:
singleModel5644TRPWMse['rmse'].mean()

0.06559283260118073

## Datos LSTM TRPW Model 5644 (separarados) 6-0-1

In [122]:
#OK
singleModel5644TRPWAcc = pd.DataFrame({})
singleModel5644TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5644OneTRPWAcc = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPWNN2C-sep-acc_'+str(index).zfill(1) +'.csv')
    singleModel5644OneTRPWMse = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPWNN2C-sep-mse_'+str(index).zfill(1) +'.csv')
    singleModel5644TRPWAcc = singleModel5644TRPWAcc.append(singleModel5644OneTRPWAcc)
    singleModel5644TRPWMse = singleModel5644TRPWMse.append(singleModel5644OneTRPWMse)

singleModel5644TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.018776  0.063024
1           1      10     64     16      2          0.002  0.018234  0.065160
2           2      10     64     16      4          0.002  0.019098  0.070034
3           3      10     64     16      8          0.002  0.018589  0.071876
4           4      10     64     32      1          0.002  0.018591  0.060683

In [123]:
singleModel5644TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.006123,0.056058
1,1,10,64,16,2,0.0020,0.006689,0.057830
2,2,10,64,16,4,0.0020,0.007622,0.059681
3,3,10,64,16,8,0.0020,0.008328,0.063231
4,4,10,64,32,1,0.0020,0.005630,0.053542
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.008993,0.070570
176,176,100,256,64,1,0.0005,0.006254,0.057148
177,177,100,256,64,2,0.0005,0.006709,0.061548
178,178,100,256,64,4,0.0005,0.007827,0.067967
179,179,100,256,64,8,0.0005,0.008594,0.070928

In [124]:
singleModel5644TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [125]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5644TRPWAcc[features_acc]

,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,10,64,16,1,0.0020,0.006123,0.056058
1,10,64,16,2,0.0020,0.006689,0.057830
2,10,64,16,4,0.0020,0.007622,0.059681
3,10,64,16,8,0.0020,0.008328,0.063231
4,10,64,32,1,0.0020,0.005630,0.053542
...,...,...,...,...,...,...,...
175,100,256,32,8,0.0005,0.008993,0.070570
176,100,256,64,1,0.0005,0.006254,0.057148
177,100,256,64,2,0.0005,0.006709,0.061548
178,100,256,64,4,0.0005,0.007827,0.067967
179,100,256,64,8,0.0005,0.008594,0.070928

In [126]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5644TRPWMse[features_mse]

     epochs  batch  nodos  layer  learning rate       mse      rmse
0        10     64     16      1         0.0020  0.018776  0.063024
1        10     64     16      2         0.0020  0.018234  0.065160
2        10     64     16      4         0.0020  0.019098  0.070034
3        10     64     16      8         0.0020  0.018589  0.071876
4        10     64     32      1         0.0020  0.018591  0.060683
..      ...    ...    ...    ...            ...       ...       ...
175     100    256     32      8         0.0005  0.018179  0.075392
176     100    256     64      1         0.0005  0.019096  0.064031
177     100    256     64      2         0.0005  0.019212  0.067700
178     100    256     64      4         0.0005  0.018889  0.073849
179     100    256     64      8         0.0005  0.018676  0.077091

[540 rows x 7 columns]

In [127]:
singleModel5644TRPWMse.to_csv('transformed_data/memory_data/model5644multi-6-0-1-TRPWNN2C-sep-mse_LSTM.csv', encoding='utf-8')

In [128]:
idxMse = pd.MultiIndex.from_frame (singleModel5644TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5644TRPWAcc)

In [129]:
idxMse

MultiIndex([(  0,  10,  64, 16, 1,  0.002, 0.0187756232917308, ...),
            (  1,  10,  64, 16, 2,  0.002, 0.0182340573519468, ...),
            (  2,  10,  64, 16, 4,  0.002, 0.0190976820886135, ...),
            (  3,  10,  64, 16, 8,  0.002, 0.0185889657586812, ...),
            (  4,  10,  64, 32, 1,  0.002, 0.0185910165309906, ...),
            (  5,  10,  64, 32, 2,  0.002, 0.0187742542475461, ...),
            (  6,  10,  64, 32, 4,  0.002, 0.0194572638720273, ...),
            (  7,  10,  64, 32, 8,  0.002, 0.0189623925834894, ...),
            (  8,  10,  64, 64, 1,  0.002, 0.0195372067391872, ...),
            (  9,  10,  64, 64, 2,  0.002, 0.0198068786412477, ...),
            ...
            (170, 100, 256, 16, 4, 0.0005, 0.0177840646356344, ...),
            (171, 100, 256, 16, 8, 0.0005, 0.0174118038266897, ...),
            (172, 100, 256, 32, 1, 0.0005, 0.0188446473330259, ...),
            (173, 100, 256, 32, 2, 0.0005, 0.0186007414013147, ...),
            (174, 100, 256, 32, 4, 0.0005, 0.0180510394275188, ...),
            (175, 100, 256, 32, 8, 0.0005, 0.0181787814944982, ...),
            (176, 100, 256, 64, 1, 0.0005, 0.0190963298082351, ...),
            (177, 100, 256, 64, 2, 0.0005,  0.019211545586586, ...),
            (178, 100, 256, 64, 4, 0.0005, 0.0188893005251884, ...),
            (179, 100, 256, 64, 8, 0.0005, 0.0186762548983097, ...)],
           names=['Unnamed: 0', 'epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [130]:
idxMse.min()

(0, 10, 64, 16, 1, 0.0005, 0.0182512160390615, 0.0699918866157531)

In [131]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.05365]

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
147,147,100,64,16,8,0.002,0.021192,0.053382
149,149,100,64,32,2,0.002,0.022154,0.053629
163,163,100,128,32,8,0.002,0.021312,0.053472
166,166,100,128,64,4,0.002,0.021409,0.053579
131,131,75,128,64,8,0.001,0.020886,0.053439
147,147,100,64,16,8,0.001,0.021483,0.053329
151,151,100,64,32,8,0.001,0.021357,0.053230
155,155,100,64,64,8,0.001,0.021050,0.053610

In [132]:
tabla1 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] <0.05365]

In [133]:
tabla1.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPWNN2C-sep-rmse_LSTM_min.xlsx")

In [134]:
idxMse.max()

(179, 100, 256, 64, 8, 0.002, 0.0212625991553068, 0.0546788647770881)

In [135]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.132]

    Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
27          27      10    256     16      8         0.0010  0.018529  0.135074
24          24      10    256     16      1         0.0005  0.048610  0.226106
25          25      10    256     16      2         0.0005  0.020679  0.144038
26          26      10    256     16      4         0.0005  0.019117  0.135382
27          27      10    256     16      8         0.0005  0.019492  0.139527
28          28      10    256     32      1         0.0005  0.021263  0.144983
31          31      10    256     32      8         0.0005  0.019139  0.137653

In [136]:
tabla2 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.132]

In [137]:
tabla2.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPWNN2C-sep-rmse_LSTM_max.xlsx")

In [138]:
singleModel5644TRPWMse['rmse'].mean()

0.0655854154447162

## Datos GRU TRPW Model 5644 (no separarados) 6-0-1

In [139]:
#OK
singleModel5644TRPWAcc = pd.DataFrame({})
singleModel5644TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5644OneTRPWAcc = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPWNN2C-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5644OneTRPWMse = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPWNN2C-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5644TRPWAcc = singleModel5644TRPWAcc.append(singleModel5644OneTRPWAcc)
    singleModel5644TRPWMse = singleModel5644TRPWMse.append(singleModel5644OneTRPWMse)

singleModel5644TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.018882  0.058689
1           1      10     64     16      2          0.002  0.020016  0.055978
2           2      10     64     16      4          0.002  0.020874  0.056448
3           3      10     64     16      8          0.002  0.020778  0.057192
4           4      10     64     32      1          0.002  0.018947  0.058409

In [140]:
singleModel5644TRPWMse

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,mse,rmse
0,0,10,64,16,1,0.0020,0.018882,0.058689
1,1,10,64,16,2,0.0020,0.020016,0.055978
2,2,10,64,16,4,0.0020,0.020874,0.056448
3,3,10,64,16,8,0.0020,0.020778,0.057192
4,4,10,64,32,1,0.0020,0.018947,0.058409
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.021506,0.060333
176,176,100,256,64,1,0.0005,0.019111,0.060658
177,177,100,256,64,2,0.0005,0.020805,0.056775
178,178,100,256,64,4,0.0005,0.021586,0.056525
179,179,100,256,64,8,0.0005,0.021928,0.057639

In [141]:
singleModel5644TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.005074,0.051074
1,1,10,64,16,2,0.0020,0.004435,0.046718
2,2,10,64,16,4,0.0020,0.004318,0.044702
3,3,10,64,16,8,0.0020,0.004542,0.046080
4,4,10,64,32,1,0.0020,0.004798,0.049766
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.004611,0.047065
176,176,100,256,64,1,0.0005,0.005287,0.053031
177,177,100,256,64,2,0.0005,0.004401,0.048878
178,178,100,256,64,4,0.0005,0.004192,0.046428
179,179,100,256,64,8,0.0005,0.004172,0.045530

In [142]:
singleModel5644TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [143]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5644TRPWAcc = singleModel5644TRPWAcc[features_acc]

In [144]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5644TRPWMse = singleModel5644TRPWMse[features_mse]

In [145]:
singleModel5644TRPWMse.to_csv('transformed_data/memory_data/model5644multi-6-0-1-TRPWNN2C-mse_GRU.csv', encoding='utf-8')

In [146]:
idxMse = pd.MultiIndex.from_frame (singleModel5644TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5644TRPWAcc)

In [147]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0188820790499448, 0.0586885176599025),
            ( 10,  64, 16, 2,  0.002, 0.0200156401842832, 0.0559783428907394),
            ( 10,  64, 16, 4,  0.002, 0.0208739601075649, 0.0564483478665351),
            ( 10,  64, 16, 8,  0.002, 0.0207782983779907, 0.0571924671530723),
            ( 10,  64, 32, 1,  0.002, 0.0189466886222362, 0.0584093816578388),
            ( 10,  64, 32, 2,  0.002, 0.0205863062292337, 0.0562663152813911),
            ( 10,  64, 32, 4,  0.002, 0.0212275739759206, 0.0560326986014843),
            ( 10,  64, 32, 8,  0.002, 0.0197794083505868, 0.0550544373691082),
            ( 10,  64, 64, 1,  0.002, 0.0204650145024061, 0.0590194091200828),
            ( 10,  64, 64, 2,  0.002, 0.0218835212290287, 0.0554959438741207),
            ...
            (100, 256, 16, 4, 0.0005,  0.018667509779334, 0.0641925111413002),
            (100, 256, 16, 8, 0.0005, 0.0181670896708965, 0.0702451542019844),
            (100, 256, 32, 1, 0.0005, 0.0190977659076452, 0.0623415000736713),
            (100, 256, 32, 2, 0.0005, 0.0192178543657064, 0.0597738288342952),
            (100, 256, 32, 4, 0.0005, 0.0214535370469093, 0.0572564378380775),
            (100, 256, 32, 8, 0.0005, 0.0215055234730243,  0.060333102941513),
            (100, 256, 64, 1, 0.0005, 0.0191106796264648, 0.0606583580374717),
            (100, 256, 64, 2, 0.0005, 0.0208046920597553,  0.056775014847517),
            (100, 256, 64, 4, 0.0005, 0.0215855874121189,  0.056524634361267),
            (100, 256, 64, 8, 0.0005, 0.0219280514866113, 0.0576385483145713)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [148]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.0192170161753892, 0.0638557150959968)

In [149]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.0543678]

     epochs  batch  nodos  layer  learning rate       mse      rmse
152     100     64     64      1         0.0020  0.021447  0.053698
159     100    128     16      8         0.0020  0.020867  0.054078
167     100    128     64      8         0.0020  0.021108  0.053877
111      75     64     16      8         0.0010  0.022060  0.054032
147     100     64     16      8         0.0010  0.021437  0.053623
151     100     64     32      8         0.0010  0.021025  0.054325
157     100    128     16      2         0.0010  0.021273  0.054367
161     100    128     32      2         0.0005  0.021209  0.054185

In [150]:
tabla1 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.0543678]

In [151]:
tabla1.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPWNN2C-rmse_GRU_min.xlsx")

In [152]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.0209328960627317, 0.0555675439536571)

In [153]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.087]

    epochs  batch  nodos  layer  learning rate       mse      rmse
27      10    256     16      8         0.0020  0.017060  0.087045
24      10    256     16      1         0.0010  0.016967  0.114255
12      10    128     16      1         0.0005  0.016558  0.102366
24      10    256     16      1         0.0005  0.026073  0.164483
25      10    256     16      2         0.0005  0.020376  0.140589
28      10    256     32      1         0.0005  0.018718  0.128481
32      10    256     64      1         0.0005  0.016197  0.087646

In [154]:
tabla2 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.087]

In [155]:
tabla2.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPWNN2C-rmse_GRU_max.xlsx")

In [156]:
singleModel5644TRPWMse['rmse'].mean()

0.06044196231911574

## Datos GRU TRPW Model 5644 (separarados) 6-0-1

In [157]:
#OK
singleModel5644TRPWAcc = pd.DataFrame({})
singleModel5644TRPWMse = pd.DataFrame({})
for index in range(0,3):
    singleModel5644OneTRPWAcc = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPWNN2C-sep-acc_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5644OneTRPWMse = pd.read_csv('transformed_data/model5644multi-6-0-1-TRPWNN2C-sep-mse_GRU_'+str(index).zfill(1) +'.csv')
    singleModel5644TRPWAcc = singleModel5644TRPWAcc.append(singleModel5644OneTRPWAcc)
    singleModel5644TRPWMse = singleModel5644TRPWMse.append(singleModel5644OneTRPWMse)

singleModel5644TRPWMse.head()

   Unnamed: 0  epochs  batch  nodos  layer  learning rate       mse      rmse
0           0      10     64     16      1          0.002  0.018941  0.060746
1           1      10     64     16      2          0.002  0.018528  0.059288
2           2      10     64     16      4          0.002  0.020809  0.055657
3           3      10     64     16      8          0.002  0.020911  0.057614
4           4      10     64     32      1          0.002  0.019046  0.058001

In [158]:
singleModel5644TRPWAcc

,Unnamed: 0,epochs,batch,nodos,layer,learning rate,keras_loss_model,keras_model_acc
0,0,10,64,16,1,0.0020,0.005435,0.053167
1,1,10,64,16,2,0.0020,0.004977,0.050375
2,2,10,64,16,4,0.0020,0.004297,0.044721
3,3,10,64,16,8,0.0020,0.004593,0.046752
4,4,10,64,32,1,0.0020,0.004741,0.049131
...,...,...,...,...,...,...,...,...
175,175,100,256,32,8,0.0005,0.004514,0.046308
176,176,100,256,64,1,0.0005,0.005483,0.053473
177,177,100,256,64,2,0.0005,0.004281,0.047577
178,178,100,256,64,4,0.0005,0.004180,0.046315
179,179,100,256,64,8,0.0005,0.004184,0.045505

In [159]:
singleModel5644TRPWMse.columns.values.tolist()

['Unnamed: 0',
 'epochs',
 'batch',
 'nodos',
 'layer',
 'learning rate',
 'mse',
 'rmse']

In [160]:
features_acc = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'keras_loss_model', 'keras_model_acc']
singleModel5644TRPWAcc = singleModel5644TRPWAcc[features_acc]

In [161]:
features_mse = ['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse']
singleModel5644TRPWMse = singleModel5644TRPWMse[features_mse]

In [162]:
singleModel5644TRPWMse.to_csv('transformed_data/memory_data/model5644multi-6-0-1-TRPWNN2C-sep-mse_GRU.csv', encoding='utf-8')

In [163]:
idxMse = pd.MultiIndex.from_frame (singleModel5644TRPWMse)
idxAcc = pd.MultiIndex.from_frame (singleModel5644TRPWAcc)

In [164]:
idxMse

MultiIndex([( 10,  64, 16, 1,  0.002, 0.0189410280436277, 0.0607464239001274),
            ( 10,  64, 16, 2,  0.002, 0.0185280479490757, 0.0592884048819541),
            ( 10,  64, 16, 4,  0.002, 0.0208087470382452, 0.0556568764150142),
            ( 10,  64, 16, 8,  0.002, 0.0209109429270029, 0.0576137937605381),
            ( 10,  64, 32, 1,  0.002, 0.0190463196486234, 0.0580011345446109),
            ( 10,  64, 32, 2,  0.002, 0.0211880970746278, 0.0553450770676136),
            ( 10,  64, 32, 4,  0.002, 0.0213656555861234, 0.0561385005712509),
            ( 10,  64, 32, 8,  0.002, 0.0199935175478458, 0.0550289191305637),
            ( 10,  64, 64, 1,  0.002, 0.0207782667130231, 0.0584598034620285),
            ( 10,  64, 64, 2,  0.002, 0.0217097103595733, 0.0558441989123821),
            ...
            (100, 256, 16, 4, 0.0005, 0.0188333317637443,  0.062586210668087),
            (100, 256, 16, 8, 0.0005, 0.0202980618923902, 0.0720831602811813),
            (100, 256, 32, 1, 0.0005, 0.0190542042255401, 0.0617030970752239),
            (100, 256, 32, 2, 0.0005,  0.019432783126831, 0.0583850592374801),
            (100, 256, 32, 4, 0.0005, 0.0210020542144775, 0.0579751804471015),
            (100, 256, 32, 8, 0.0005, 0.0217032488435506, 0.0597753226757049),
            (100, 256, 64, 1, 0.0005, 0.0190540552139282, 0.0611085146665573),
            (100, 256, 64, 2, 0.0005, 0.0212293118238449,  0.056451465934515),
            (100, 256, 64, 4, 0.0005, 0.0218039695173501, 0.0569511540234088),
            (100, 256, 64, 8, 0.0005, 0.0219387002289295,  0.057686548680067)],
           names=['epochs', 'batch', 'nodos', 'layer', 'learning rate', 'mse', 'rmse'], length=540)

In [165]:
idxMse.min()

(10, 64, 16, 1, 0.0005, 0.019272893667221, 0.0638770535588264)

In [166]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.05415]

     epochs  batch  nodos  layer  learning rate       mse      rmse
123      75    128     16      8          0.002  0.022387  0.054017
152     100     64     64      1          0.002  0.021895  0.053812
158     100    128     16      4          0.002  0.021105  0.053814
165     100    128     64      2          0.002  0.021310  0.053924
146     100     64     16      4          0.001  0.021812  0.053802
147     100     64     16      8          0.001  0.021332  0.054108
149     100     64     32      2          0.001  0.021809  0.053979
153     100     64     64      2          0.001  0.021617  0.053954

In [167]:
tabla1 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] < 0.05415]

In [168]:
tabla1.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPWNN2C-sep-rmse_GRU_min.xlsx")

In [169]:
idxMse.max()

(100, 256, 64, 8, 0.002, 0.020895566791296, 0.0561787709593772)

In [170]:
singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.082]

    epochs  batch  nodos  layer  learning rate       mse      rmse
27      10    256     16      8         0.0020  0.017654  0.084716
24      10    256     16      1         0.0010  0.017144  0.114069
12      10    128     16      1         0.0005  0.016591  0.096385
24      10    256     16      1         0.0005  0.028318  0.175373
25      10    256     16      2         0.0005  0.019155  0.127630
26      10    256     16      4         0.0005  0.017072  0.093648
28      10    256     32      1         0.0005  0.019463  0.130507

In [171]:
tabla2 = singleModel5644TRPWMse[singleModel5644TRPWMse['rmse'] > 0.082]

In [172]:
tabla2.to_excel("transformed_data/tablas/model5644multi-6-0-1-TRPWNN2C-sep-rmse_GRU_max.xlsx")

In [173]:
singleModel5644TRPWMse['rmse'].mean()

0.060526828012532605